.flex-column{
    background-color: #ffffff;
}

thead{
    background-color: #007bff;
  }

button{
    background-color: #007bff;
}
p{
    margin-bottom: 0;
    color: green;
    opacity: 0.4;
}
table.table a {
    margin: 0px;
    padding-left: 10px;
    color: #212529;
}