
        <div class="row">
            <div class="col col-md-8">
                <h2>Endpoint</h2>
            </div>
            <div class="col-6 col-md-4 d-flex justify-content-end">
                <button type="button" routerLink="/endpoint/endpoint-form" mdbBtn color="primary" mdbWavesEffect>Add Endpoint</button>
            </div>
         </div>
        
        <table mdbTable #tableEl="mdbTable" class="z-depth-1">
                <thead class="white-text">
                    <tr>
                    <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                    </tr>
                </thead>
                <tbody *ngIf="elements.length > 1; else noElements">
                    <tr mdbTableCol *ngFor="let el of elements; let i = index ">
                    <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">
                        {{el.name}}
                    </th>
                    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.date_created}}</td>
                    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.status}}</td>
                    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                        <a class="btn btn-primary" routerLinkActive="active" routerLink="/endpoint/endpoint-update/{{el.id}}" >Edit</a>
                        <a class="btn btn-danger" (click)="delete(el)">Delete</a>
                    </td>
                    </tr>
                </tbody>
                <tfoot class="grey lighten-5 w-100">
                        <tr>
                          <td colspan="4">
                            <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
                          </td>
                        </tr>
                    </tfoot>
        </table>
        <ng-template #noElements>
            <hm-empty-data header="No Existing System Endpoints" description="New Endpoints  displayed here">
              <button action-button type="button" mdbBtn size="sm" color="primary">Add Endpoint</button>
            </hm-empty-data>
        </ng-template>
<router-outlet></router-outlet>