<mdb-card>
    <mdb-card-body>
        <div class="row">
            <div class="col col-md-8">
                <h2>Endpoint</h2>
            </div>
            <div class="col-6 col-md-4 d-flex justify-content-end">
                <button type="button" routerLink="endpoint-form" mdbBtn color="primary" mdbWavesEffect>Add Endpoint</button>
            </div>
        </div>
        
        <table mdbTable>
                <thead class="white-text">
                    <tr>
                    <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                    </tr>
                </thead>
                <tbody>
                    <tr mdbTableCol *ngFor="let el of elements">
                    <th scope="row">{{el.id}}</th>
                    <td>{{el.first}}</td>
                    <td>{{el.last}}</td>
                    </tr>
                </tbody>
        </table>
    </mdb-card-body>     
</mdb-card>
<router-outlet></router-outlet>