
<div class="row">
    
    <div class="col"><p class="h4 mb-4">Change  user password  </p></div>
    <div class="col-md-6">
        <button class="float-right back-button" (click)="back()"><i class="fas fa-angle-double-left"></i> back to profile</button>
    </div>  
  </div>
  
  <hr>
<mdb-card>
    <!-- Default form contact -->
    <form [formGroup]="passwordUpdateForm" class="text-center border  p-5" (ngSubmit) = "onSubmit()">
      <div class="row">
          <div class="col">
              <!-- Current Password -->
              <label>Current Password</label>
              <input type="password" id="defaultContactCurrentPassword" class="form-control mb-4" placeholder="Current Password"
              [ngClass]="{ 'is-invalid': submitted && f.CurrentPassword.errors }" formControlName="CurrentPassword" 
                [(ngModel)]="profile.currentPassword"  matInput showHideInput>
                <i matSuffix class="material-icons" showHideTrigger="defaultContactCurrentPassword"
                [showHideStatus]="{ materialIcon: true, id: 'defaultContactCurrentPassword' }" style="position: relative;top: -54px;left: 276px;"></i>
                <div *ngIf="passwordUpdateForm.controls['CurrentPassword'].invalid && (passwordUpdateForm.controls['CurrentPassword'].dirty || passwordUpdateForm.controls['CurrentPassword'].touched)" class="invalid-feedback">
                  <div *ngIf="passwordUpdateForm.controls['CurrentPassword'].errors.required">
                      Current password is required.
                  </div>
                </div>
              </div>
              <div class="col">
                  <!-- New Password -->
                  <label>New Password</label>
                  <input type="password" id="defaultContactFormPassword" class="form-control mb-4" placeholder="New Password"
                  [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" formControlName="Password" 
                      [(ngModel)]="profile.password" showHideInput>
                      <i matSuffix class="material-icons" showHideTrigger="defaultContactFormPassword"
                      [showHideStatus]="{ materialIcon: true, id: 'defaultContactFormPassword' }" style="position: relative;top: -54px;left: 276px;"></i>
                  <div *ngIf="passwordUpdateForm.controls['Password'].invalid && (passwordUpdateForm.controls['Password'].dirty || passwordUpdateForm.controls['Password'].touched)" class="invalid-feedback">
                      <div *ngIf="passwordUpdateForm.controls['Password'].errors.required">
                          Password is required.
                      </div>
                  </div>
              </div>
              <div class="col">
                  <!-- Confirm Password -->
                  <label>Confirm Password</label>
                  <input type="password" id="defaultContactFormconfirm" class="form-control mb-4" placeholder="Confirm Password"
                  [ngClass]="{ 'is-invalid': submitted && f.ConfirmPassword.errors }" formControlName="ConfirmPassword" 
                      [(ngModel)]="confirmPassword" pattern="{{ passwordUpdateForm.controls['Password'].value }}" showHideInput>
                      <i matSuffix class="material-icons" showHideTrigger="defaultContactFormconfirm"
                [showHideStatus]="{ materialIcon: true, id: 'defaultContactFormconfirm' }" style="position: relative;top: -54px;left: 276px;"></i>
                      <div *ngIf="passwordUpdateForm.controls['ConfirmPassword'].invalid && (passwordUpdateForm.controls['ConfirmPassword'].dirty || passwordUpdateForm.controls['ConfirmPassword'].touched)" class="invalid-feedback">
                          <div *ngIf="passwordUpdateForm.controls['ConfirmPassword'].errors.required">
                              Confirm Password is required.
                          </div>
                          <div *ngIf="passwordUpdateForm.controls['ConfirmPassword'].errors.pattern">Password & Confirm Password do not match.</div>
                  </div>
              </div>
      </div>
      
              <!-- Send button -->
      <div class="row float-right">
          <button mdbBtn type="button" class="btn btn-primary waves-light" color="primary" mdbWavesEffect
      [disabled]="!passwordUpdateForm.valid" (click)="update()" size="sm">Update</button>
      </div>
    </form>
      <!-- Default form contact -->
    
    </mdb-card>
    