<div class="tab-content py-4">
    <table class="table table-hover table-striped">
        <tbody *ngIf="data.length > 0; else noElements">                                    
            
            <tr *ngFor="let data of data; let i = index ">
                <td>
                   <span class="float-right font-weight-bold">{{data.date_created | date:'M/d/yy, h:mm a'}}</span> {{data.message}}
                </td>
            </tr>
        </tbody> 
        <ng-template #noElements>
            <hm-empty-data header="No Recent Notifications" description="Most recent Notifications will be displayed here">
            </hm-empty-data>
        </ng-template>
    </table>
</div>