<mdb-navbar [ngClass]="{'logged-out d-none': !currentUser}" SideClass="navbar fixed-top navbar-expand navbar-light white scrolling-navbar" [containerInside]="false">
    <!-- Navbar brand -->
      <a class="navbar-brand" mdbWavesEffect routerLink="/system">
        <a class="logo-wrapper waves-effect">
            <!-- <span style="font-size: 40px">HM</span> -->
            <img src="../../assets/hm_logo.png" class="img-fluid" alt="" *ngIf="!currentUser">
        </a>
      </a>
      <!-- Links -->
      <links class="ml-auto float-right">
        <!-- Right -->
        <ul class="navbar-nav ml-auto nav-flex-icons">
          <!-- <li class="nav-item">
            <a href="#"
              class="nav-link border border-light rounded waves-effect" target="_blank">
              <i class="fab fa-user-alt mr-2" mdbIcon></i>Logout
        <ul class="navbar-nav nav-flex-icons ml-auto">
            <li class="nav-item mr-2" *ngIf="currentUser">
                <div class="dropdown" mdbDropdown>
                  <a mdbDropdownToggle color="primary" class="dropdown-toggle nav-link waves-light ml-0 pl-0"
                    mdbWavesEffect>{{ currentSystem.name }}
                  </a>
                  <div class="dropdown-menu dropdown-primary" *ngIf="systems">
                    <a class="dropdown-item"  *ngFor="let system of systems" [ngClass]="{'d-none': system.id === currentSystem.id}"
                    routerLink="system/{{system.id}}" (click)="reload(system.id)">
                     {{ system.name }}
                    </a> 
                    <a class="dropdown-item" (click)="frame.show()" data-target="#basicExample">
                      Add system
                    </a>
                  </div>
                </div>
              </li>
          <li class="nav-item" *ngIf="currentUser; else login">
            <a class="nav-link border border-light rounded waves-effect">
              <i class="fas fa-user-alt mr-2" (click)="logout()"></i>Logout
            </a>
          </li> -->
          <!-- Dropdown -->
          <li class="nav-item dropdown" dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span></a>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
              <a class="dropdown-item waves-light" routerLink="profile" mdbWavesEffect> My account</a>
              <a class="dropdown-item waves-light" routerLink="profile/user-notifications" mdbWavesEffect>Notifications</a>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
            </div>
          </li>

          <ng-template #login>
              <li class="nav-item">
                  <a routerLink="login" class="nav-link border border-light rounded waves-effect">
                    <i class="fas fa-user-alt mr-2"></i>Login
                  </a>
              </li>
          </ng-template>

          <li class="nav-item" *ngIf="showToggler" (click)="toggleSideNav()">
            <a class="nav-link">
                <span class="fas fa-bars" style="font-size: 17px;"></span>
            </a>
          </li>
        </ul>
      </links>
  </mdb-navbar>
  <!--/.Navbar-->
 
<hm-side-nav></hm-side-nav>

<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add new system</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()" #closeBtn>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form [formGroup]="addSystemForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-4">
              <!-- Name -->
              <label class="form-label">System Name</label>
              <input formControlName="name" type="text" id="systemName" class="grey lighten-5 form-control" placeholder="System name"
              [ngClass]="{'is-invalid': submitted && addSystemForm.controls.name.errors}" [(ngModel)] = "newSystem.name">
              
              <div *ngIf="submitted && addSystemForm.controls.name.errors" class="invalid-feedback">
                <div *ngIf="addSystemForm.controls.name.errors.required">System Name is required</div>
              </div>               
            </div>

            <div class="form-group mb-4">
              <!-- Description -->
              <label class="form-label">System description</label>
              <textarea formControlName="description" type="text" id="systemDescription" class="grey lighten-5 form-control" placeholder="System description"
              [ngClass]="{'is-invalid': submitted && addSystemForm.controls.description.errors}" [(ngModel)] = "newSystem.description">
              </textarea>
              <div *ngIf="submitted && addSystemForm.controls.description.errors" class="invalid-feedback">
                <div *ngIf="addSystemForm.controls.description.errors.required">System description is required</div>
              </div>               
            </div>
            
          <div class="modal-footer d-flex justify-content-right">
            <button mdbBtn color="primary" class="waves-light" size="sm" mdbWavesEffect>Add</button>
          </div>
        </form>        
      </div>

    </div>
  </div>
</div>