<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar"
    [containerInside]="false" *ngIf="systemIsAvailable">
    <mdb-navbar-brand>
        <a href="#" class="navbar-brand"></a>
    </mdb-navbar-brand>
      <links>
        <!-- Left -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <div class="dropdown" mdbDropdown>
              <a mdbDropdownToggle color="primary" class="dropdown-toggle nav-link waves-light"
                mdbWavesEffect>{{ currentSystem.name }}
              </a>
              <div class="dropdown-menu dropdown-primary" *ngIf="systems">
                <a class="dropdown-item"  *ngFor="let system of systems" [ngClass]="{'d-none': system.id === currentSystem.id}"
                routerLink="system/{{system.id}}" (click)="reload(system.id)">
                 {{ system.name }}
                </a> 
                <a class="dropdown-item" href="#">
                  Add system
                </a>
              </div>
            </div>
          </li>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="#"
              class="nav-link border border-light rounded waves-effect" target="_blank">
              <i class="fab fa-user-alt mr-2" mdbIcon></i>Logout
            </a>
          </li>
        </ul>
      </links>
  </mdb-navbar>
  <!--/.Navbar-->