form {
    background-color: #ffffff;
    
}
.border{
    border: 0 !important;
}
.text-center{
    text-align: left !important;
}

// .h4{
//     text-align: center;
// }
label{
    font-weight: 500;
    font-size: 0.9em;
}

.invalid-feedback{
    text-align: left;
    display: block;
    position: relative;
    top:-11px
}

button {
font-size: 14px;
background-color: #0052CC !important;
border: 1px solid #0052CC;
border-radius: 4px;
color: #ffffff;
right: 0;
padding: 3px 7px 3px 7px;
font-weight: 500;
}