.incident-results {
    border-radius: 4px;
}

.search-item {
    padding: 10px 14px;
    cursor: pointer;
    line-height: 16px;
}

.search-item:hover{
    background-color: rgb(221, 221, 221);
}

.incident-name, .incident-description {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.incident-name {
    font-size: 16px;
    font-weight: 500;
    opacity: 0.8;
}

.incident-description {
    font-size: 12px;
    font-weight: 400;
    opacity: 0.6;
}