<mdb-card>
<!-- Default form contact -->
<form [formGroup]="systemRecipientForm" class="text-center border  p-5" (ngSubmit) = "onSubmit()">

<div class="row">

  <div class="col"><p class="h4 mb-4">Add System Recipient </p></div>
      
</div>
<hr>
  <div class="row">
    <div class="col-6">
      <!-- User -->
      <label>Recipient</label>
      <select class="browser-default custom-select form-control mb-4" formControlName="Recipient" [(ngModel)]="systemRecipient.recipientId">
        <option value></option>
        <option *ngFor="let recipient of Recipients; let i = index" [value]="recipient.id">
              {{recipient.userName}}
        </option>
      </select>
      <div *ngIf="systemRecipientForm.controls['Recipient'].invalid && (systemRecipientForm.controls['Recipient'].dirty || systemRecipientForm.controls['Recipient'].touched)" class="invalid-feedback">
          <div *ngIf="systemRecipientForm.controls['Recipient'].errors.required">
              Please Select a Recipient.
          </div>
      </div>
    </div>
  </div>
  <div class="row">
      <button mdbBtn type="button" class="btn float-left btn-primary waves-light" size="sm" color="primary" mdbWavesEffect (click)="addEscalations()">Add Escalations</button>
      <button mdbBtn type="button" class="btn float-right btn-danger waves-light" size="sm" color="primary" mdbWavesEffect
        (click)="deleteEscalations(escalationIndex)" style="position: relative; left: 673px;">Remove Escalation</button>
  </div>
    <div  formArrayName="escalations">
        <div class="row"
        *ngFor="let escalations of systemRecipientForm['controls'].escalations['controls'];
        let escalationsIndex = index
        "
        [formGroupName]="escalationsIndex">
          <div class="col">
              <label>Escalation Level</label>{{EscalationLevels}}
              <select class="browser-default custom-select form-control mb-4" formControlName="EscalationLevel" [(ngModel)]="systemRecipient.escalations">
              <option value></option>
              <option *ngFor="let level of EscalationLevels; let i = index" [value]="level.id">
                    {{level.name}}
              </option>
            </select>
            <div *ngIf="escalationIndex.controls['EscalationLevel'].invalid && (escalationIndex.controls['EscalationLevel'].dirty || escalationIndex.controls['EscalationLevel'].touched)" class="invalid-feedback">
                <div *ngIf="escalationIndex.controls['EscalationLevel'].errors.required">
                    Please Select an escalation level.
                </div>
            </div>
          </div>
          <div class="col">
              <label> Notification Type </label>{{NotificationTypes | json}}
              <select class="browser-default custom-select form-control mb-4" formControlName="NotificationType">
              <option *ngFor="let type of NotificationTypes; let i = index" [value]="type.id">
                    {{type.name}}
              </option>
            </select>
            <div *ngIf="systemRecipientForm.controls['NotificationType'].invalid && (systemRecipientForm.controls['NotificationType'].dirty || systemRecipientForm.controls['NotificationType'].touched)" class="invalid-feedback">
                <div *ngIf="systemRecipientForm.controls['NotificationType'].errors.required">
                    Please Select a notification type.
                </div>
            </div>
          </div>
        
        </div>
    </div>
  
  <!-- Send button -->
  <button mdbBtn type="button" size="sm" class="btn float-right btn-primary waves-light" color="primary" mdbWavesEffect
  [disabled]="!recipientForm.valid" (click)="addRecipient()">Save</button>

</form>
  <!-- Default form contact -->

</mdb-card>

