<div class="full-page">
<!--
<div *ngIf="incidents?.length; else noIncidents">
  <table mdbTable id="incident-list">
    <tbody>
      <tr mdbTableCol class="incident-item" *ngFor="let incident of incidents">        
        <td scope="row">
            <div class="incident-description">
              <div class="action-buttons float-right">
                  <a id="update-{{incident.incident_id}}" routerLink="/dashboard/incidents/update/{{incident.id}}" 
                  routerLinkActive="active" *ngIf="incident.state_name !== 'Resolved'; else Open">Update</a>
                  <ng-template #Open>
                      <a id="update-{{incident.id}}" routerLink="/dashboard/incidents/update/{{incident.id}}" routerLinkActive="active">View</a>
                  </ng-template>
              </div>
              <strong>
                  <a class="incident-view-link" routerLink="/dashboard/incidents/update/{{incident.id}}" routerLinkActive="active">
                  {{ incident.name }}
                  </a>
              </strong><br>
              <div class="last-updated">
                  <small>Last updated <span class="ago">on <span>{{ incident.date_modified | date:'MM/dd/yyyy   hh:mm:ss a'}}</span>. 
                  </span>
                  </small>
              </div>
            </div>
        </td>      
      </tr>
    </tbody>
  </table>
</div> 
-->

<!-- Grid Row -->
<div class="row wow animated fadeIn" data-wow-delay="0.1s">
  <!-- Grid column -->
  <div class="col-lg-12 col-md-12 text-left">
      <div class="incidents realtime">
        <div id="table-header">
          <div class="pagination">
            <p class="content">Show</p>
            <select class="browser-default custom-select content" (change)= "changePagination($event)">
                <option *ngFor="let value of pagination" [ngValue]="value">{{value}}</option>
            </select>
            <p class="content">items</p>
          </div>
          <div class="search">
              <label id="searchlabel">Search :</label>
              <input type="text" placeholder="search..." #input/>
          </div>
        </div>
      
        <ngx-datatable 
        class="material" 
        #incidentsDataTable 
        [rows]="rows"
        [columns]="columns"
        [columnMode]="ColumnMode.force"
        [headerHeight]="0"
        [footerHeight]="50"
        [draggable]="false"
        [reorder]
        rowHeight="auto"
        [externalPaging]="true"
        [externalSorting]="true"
        [count]="page.totalElements"
        [offset]="page.offset"
        [limit]="page.size"
        (page)="pageCallback($event)"
        (sort)="sortCallback($event)"
        [loadingIndicator]="load">

          <ngx-datatable-footer *ngIf="true">
            <ng-template
              ngx-datatable-footer-template
              let-rowCount="rowCount"
              let-pageSize="pageSize"
              let-selectedCount="selectedCount"
              let-curPage="curPage"
              let-offset="offset">
              <div style="padding: 5px 10px">
                <div><strong>{{message}}</strong></div>
              </div>
              <datatable-pager  
              [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
              [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
              (change)="table.onFooterPage($event)">
              </datatable-pager>
            </ng-template>
          </ngx-datatable-footer>
        </ngx-datatable>
        <ng-template #hdrTpl let-column="column">{{column.name}}</ng-template>
          <ng-template #realtimeIncidents let-row="row" let-value="value">    
            <div class="incident-description">
              <div class="action-buttons float-right">
                  <a class = "mr-2" id="update-{{row.id}}" routerLink="/dashboard/incidents/update/{{row.id}}" 
                  routerLinkActive="active" *ngIf="row.state_name !== 'Resolved'; else Open">Update</a>
                  <ng-template #Open>
                      <a class = "mr-2" id="update-{{row.id}}" routerLink="/dashboard/incidents/update/{{row.id}}" routerLinkActive="active">View</a>
                  </ng-template>
                  <a id="delete-{{row.id}}" (click)="deleteIncident(row.id)" class="text-danger">Delete</a>
              </div>
              <strong>
                  <a class="incident-view-link" routerLink="/dashboard/incidents/update/{{row.id}}" routerLinkActive="active">
                  {{ row.name }}
                  </a>
              </strong><br>
              <div class="last-updated">
                  <small>Last updated <span class="ago"><span>{{ row.date_modified | relativeTime}}</span>. 
                  </span>
                  </small>
              </div>
            </div>
        </ng-template>
      </div>
  </div>
</div>

<!-- Zero Realtime Incidents For the system -->
<!-- <ng-template #noIncidents>
    <hm-empty-data header="All Clear" description="You will see all realtime incidents here" [ngClass]="{'d-none': loading}">
      <a action-button routerLink='/dashboard/incidents/new/realtime' routerlinkactive="active"> 
        <button id="create-button" size="sm" color="primary">
            Create incident
        </button>
      </a>
    </hm-empty-data>
</ng-template> -->
</div>
