<mdb-card>
<!-- Default form contact -->
  <form [formGroup]="updateForm" class="text-center border  p-5" (ngSubmit) = "onSubmit()">

    <div class="row">
        
      <div class="col"><p class="h4 mb-4">Update System Recipient </p></div>
              
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <!-- First Name -->
        <label>First Name</label>
        <input type="text" id="defaultContactFormFirstName" class="form-control mb-4" placeholder="First Name"
        [ngClass]="{ 'is-invalid': submitted && f.EnpointName.errors }" formControlName="FirstName" 
        [(ngModel)]="recipient[0].first_name" >
          <div *ngIf="updateForm.controls['FirstName'].invalid && (updateForm.controls['FirstName'].dirty || updateForm.controls['FirstName'].touched)" class="invalid-feedback">
            <div *ngIf="updateForm.controls['FirstName'].errors.required">
              First Name is required.
            </div>
            <div *ngIf="updateForm.controls['FirstName'].errors.minlength">First Name must be more than two characters</div>
          </div>
      </div>
      <div class="col">
        <!-- LastName -->
        <label>Last Name</label>
        <input type="text" id="defaultContactFormLastName" class="form-control mb-4" placeholder="LastName"
        [ngClass]="{ 'is-invalid': submitted && f.EnpointName.errors }" formControlName="LastName" 
        [(ngModel)]="recipient[0].last_name" >
          <div *ngIf="updateForm.controls['LastName'].invalid && (updateForm.controls['LastName'].dirty || updateForm.controls['LastName'].touched)" class="invalid-feedback">
            <div *ngIf="updateForm.controls['LastName'].errors.required">
              required*.
            </div>
            <div *ngIf="updateForm.controls['LastName'].errors.minlength">Last Name must be more than two characters</div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <!-- Email -->
        <label>Email</label>
        <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="Email"
        [ngClass]="{ 'is-invalid': submitted && f.EnpointName.errors }" formControlName="Email" 
        [(ngModel)]="recipient[0].email" >
          <div *ngIf="updateForm.controls['Email'].invalid && (updateForm.controls['Email'].dirty || updateForm.controls['Email'].touched)" class="invalid-feedback">
            <div *ngIf="updateForm.controls['Email'].errors.required">
              Email Name is required.
            </div>
            <div *ngIf="updateForm.controls['Email'].errors.email">Email must be a valid email address</div>
          </div>
      </div>
      <div class="col">
        <!-- Phone Number -->
        <label>Phone Number</label>
        <input type="text" id="defaultContactFormPhoneNumber" class="form-control mb-4" placeholder="Phone Number"
          [ngClass]="{ 'is-invalid': submitted && f.EnpointName.errors }" formControlName="PhoneNumber" 
          [(ngModel)]="recipient[0].phone_number" >
          <div *ngIf="updateForm.controls['PhoneNumber'].invalid && (updateForm.controls['PhoneNumber'].dirty || updateForm.controls['PhoneNumber'].touched)" class="invalid-feedback">
            <div *ngIf="updateForm.controls['PhoneNumber'].errors.required">
                Phone Number is required.
            </div>
            <div *ngIf="updateForm.controls['PhoneNumber'].errors.minlength">Phone Number must be more than 10 characters</div>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <!-- Notification Type -->
        <label for="NotificationType">Notification Type</label>
        <select class="browser-default custom-select form-control mb-4" formControlName="NotificationType" [(ngModel)]="recipient[0].notification_type">
          <option value></option>
          <option *ngFor="let type of NotificationTypes; let i = index" [value]="NotificationTypes[i].id">
            {{NotificationTypes[i].name}}
          </option>
        </select>
        <div *ngIf="updateForm.controls['NotificationType'].invalid && (updateForm.controls['NotificationType'].dirty || updateForm.controls['NotificationType'].touched)" class="invalid-feedback">
          <div *ngIf="updateForm.controls['NotificationType'].errors.required">
              Please Select a Notification Type.
          </div>
        </div>
      </div>
      <div class="col">
          <!-- State -->
          <label>State</label>
          <select class="browser-default custom-select form-control mb-4" formControlName="State" [(ngModel)]="recipient[0].state" >
              <option *ngFor="let state of States; let i = index" [value]="States[i].id">
                  {{States[i].name}}
                </option>
          </select>
          <div *ngIf="updateForm.controls['State'].invalid && (updateForm.controls['State'].dirty || updateForm.controls['State'].touched)" class="invalid-feedback">
            <div *ngIf="updateForm.controls['State'].errors.required">
                Please Select a State.
            </div>
          </div>
      </div>
    </div>
    <!-- Send button -->
    <button mdbBtn type="button" class="btn btn-primary waves-light" color="primary" mdbWavesEffect
    [disabled]="!updateForm.valid" (click)="update()">Update</button>
  </form>
          <!-- Default form contact -->
</mdb-card>    
        