<div class="page-header">
    <h3 class="page-header-title float-left">Incidents</h3>
    <div class="float-right"> 
        <input class="form-control" type="text" placeholder="Search">
    </div>
    <div class="clearfix"></div> 
</div>

<ul class="list-group switch-tabs">
    <div>
    <li class="tab-item">
        <a routerLink="/incidents/open" routerLinkActive="active">Open</a>
    </li>
    <li class="tab-item">
        <a routerLink="realtime" routerLinkActive="active">Realtime Incidents</a>        
    </li>
    <li class="tab-item">
        <a routerLink="maintenance" routerLinkActive="active">Maintenance</a>        
    </li>
    </div>
</ul>

<div class="clearfix"></div>

<router-outlet></router-outlet>