<div id="container">
    <div class="d-flex justify-content-between">
        <h4 class="page-header-title">Notifications</h4>
    </div>
    
    <ul class="list-group switch-tabs">
        <div>
        <li class="tab-item">
            <a routerLink="email-notification" routerLinkActive="active">Email</a>
        </li>
        <li class="tab-item">
            <a routerLink="sms-notification" routerLinkActive="active">Sms</a>        
        </li>
    
        <div class="clearfix"></div>
        </div>
    </ul>
</div>
<router-outlet></router-outlet>
