<!-- Grid Row -->
<div class="row wow animate fadeIn" data-wow-delay="0.1s" *ngIf="currentSystem && incident">
    <!-- Grid column -->
    <div class="col-md-1"></div>

    <!-- Grid column -->
    <div class="col-md-12">
        <div class="page-header d-flex justify-content-between" *ngIf="incident.state_name !== 'Resolved' && incident.state_name !== 'Completed'; else Open">
            <div class="">{{ incident.name }}</div>
            <div class="">
                <button class="back-button" (click)="back()"><i class="fas fa-angle-double-left"></i> Back</button>
            </div>
        </div>
        <ng-template #Open>
            <div class="page-header d-flex justify-content-between">
                <div class="">{{ incident.name }}</div>
                <div class="">
                    <button class="back-button" (click)="back()"><i class="fas fa-angle-double-left"></i> Back</button>
                </div>
            </div>
        </ng-template>
        <div class="clearfix"></div>
        <div class="page-body">
            <div class="update-history">
                <div class="update-history-header">
                    <ul class="list-group switch-tabs d-flex">
                        <div>
                        <li class="tab-item">
                            <a routerLink="history" routerLinkActive="active">Update history</a>
                        </li>
                        <li class="tab-item">
                            <a routerLink="events" routerLinkActive="active">Incident events</a>        
                        </li>
                        <div class="clearfix"></div>
                        </div>
                    </ul>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>

    <!-- Grid column -->
    <div class="col-md-1"></div>
</div>
<!-- Grid Row -->