<table mdbTable id="incident-list">
  <tbody>
    <!-- Incident Item -->
    <tr mdbTableCol class="incident-item">
      <td scope="row">
          <div class="incident-description">
            <div class="action-buttons float-right">
                <a id="update-p2jg8qhdzs4k" routerLink="/incidents/update" routerLinkActive="active">Update</a>
            </div>
            <strong>
                <a class="incident-view-link"routerLink="/incidents/update" routerLinkActive="active">Data Processing Delays -
                Reporting Tools Affected</a></strong><br>
            <div class="last-updated">
                <small>Last updated <span class="ago">about <span>2</span> hours ago. 
                </span>4 Oct (06:37 UTC)
                </small>
            </div>
          </div>
      </td>      
    </tr>

    <!-- Incident Item -->
    <tr mdbTableCol class="incident-item">
      <td scope="row">
          <div class="incident-description">
            <div class="action-buttons float-right">
                <a id="update-p2jg8qhdzs4k" routerLink="/incidents/update" routerLinkActive="active">Update</a>
            </div>
            <strong>
                <a class="incident-view-link" routerLink="/incidents/update" routerLinkActive="active">Data Processing Delays -
                Reporting Tools Affected</a></strong><br>
            <div class="last-updated">
                <small>Last updated <span class="ago">about <span>2</span> hours ago. 
                </span>4 Oct (06:37 UTC)
                </small>
            </div>
          </div>
      </td>      
    </tr>

    <!-- Incident Item -->
    <tr mdbTableCol class="incident-item">
      <td scope="row">
          <div class="incident-description">
            <div class="action-buttons float-right">
                <a id="update-p2jg8qhdzs4k" routerLink="/incidents/update" routerLinkActive="active">Update</a>
            </div>
            <strong>
                <a class="incident-view-link" routerLink="/incidents/update" routerLinkActive="active">Data Processing Delays -
                Reporting Tools Affected</a></strong><br>
            <div class="last-updated">
                <small>Last updated <span class="ago">about <span>2</span> hours ago. 
                </span>4 Oct (06:37 UTC)
                </small>
            </div>
          </div>
      </td>      
    </tr>

    
    <!-- Incident Item -->
    <tr mdbTableCol class="incident-item">
      <td scope="row">
          <div class="incident-description">
            <div class="action-buttons float-right">
                <a id="" routerLink="/incidents/update" routerLinkActive="active">View</a>
            </div>
            <strong>
                <a class="incident-view-link" routerLink="/incidents/update" routerLinkActive="active">Slow API Response times</a></strong><br>
            <div class="last-updated">
                <small>Resolved 30 Sept 2019 (10:40 UTC)
                </small>
            </div>
          </div>
      </td>      
    </tr>
  </tbody>
</table>
<div class="pagination-container">
  


</div>
