<table mdbTable id="incident-list" *ngIf="incidents && incidents.length > 1; else noIncidents">
  <tbody>
    <!-- Incident Item -->
    <tr mdbTableCol class="incident-item" *ngFor="let incident of incidents">
      <td scope="row">
          <div class="incident-description">
            <div class="action-buttons float-right">
                <a id="update-{{incident.incident_id}}" routerLink="/incidents/update/{{incident.incident_id}}" 
                routerLinkActive="active" *ngIf="incident.status !== 'Resolved'; else Open">Update</a>
                <ng-template #Open>
                    <a id="update-{{incident.incident_id}}" routerLink="/incidents/update/{{incident.incident_id}}" routerLinkActive="active">View</a>
                </ng-template>
            </div>
            <strong>
                <a class="incident-view-link"routerLink="/incidents/update/{{incident.incident_id}}" routerLinkActive="active">
                {{ incident.name }}
                </a></strong><br>
            <div class="last-updated">
                <small>Last updated <span class="ago">about <span>2</span> hours ago. 
                </span>({{ incident.date_created }})
                </small>
            </div>
          </div>
      </td>      
    </tr>
  </tbody>
</table>

<!-- Zero Realtime Incidents For the system -->
<ng-template #noIncidents>
    <hm-empty-data header="All Clear" description="You will see all realtime incidents here">
      <button action-button type="button" mdbBtn size="sm" color="primary">Create incident</button>
    </hm-empty-data>
</ng-template>

<div class="pagination-container">

</div>
