.login-wrapper { 
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center; 
    height: 100%;
}

.login-wrapper mdb-card {
    padding: 40px 30px 30px;
    max-width: 400px;
    margin: auto;
}

.login-wrapper .card-header-text {
    text-align: center;
}
