<mdb-card>
    <h6>Profile</h6>
    <p id=header>Details about your profile</p>
    <div class="d-flex flex-column" *ngIf="data">
        <hr>
        <div class="p-2">
            <div id="header">Name</div>
            <div id="details"> {{data.firstName}} {{data.lastName}} </div>
        </div>
        <hr>
        <div class="p-2">
          <div id="header">User Name</div>
          <div id="details">{{data.userName}}</div>
        </div>
        <hr>
        <div class="p-2">
          <h6>Contact Details</h6>
          <div id="header"> Email</div>
          <div id="details">{{data.email}}</div>
          <div id="header">Phone Number </div>
           <div id="details">{{data.phoneNumber}}</div>
        </div>
        <hr>
        <div class="p-2">
            <div id="header">Role</div>
            <div id="details">{{data.role}}</div>
          </div>
        </div>
</mdb-card>