mdb-card{
    margin: auto;
    padding-top: 30px;

}
hr{
    margin: 5px;
}
.badge-primary{
    position: relative;
    left: 4px;
}
#header{
    position: relative;
    top: 11px;
    left: 10px;
    font-weight: 300;
}
#details{
    position: relative;
    left: 247px;
    top:-14px;
}
h6{
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    padding-left: 10px;
}