<mdb-card>
  <div class="container" *ngFor="let data of data">
    <div class="row">
      <div class="col">
          <h5>{{data.userName}}</h5> 
          <h6>Details</h6>
          <p>First Name: {{data.firstName}} </p> 
          <p>Last Name: {{data.lastName}}</p>
          <p>Email: {{data.email}}</p>
          <p>Phone Number: {{data.phoneNumber}}</p>
      </div>
      <div class="col">
          <h6 style="padding-left:4px;">Role</h6>
          <span class="badge badge-primary">{{data.role}}</span>
          <hr>
      </div>
    </div>
  </div>

</mdb-card>

<div class="tab-content py-4"  *ngFor="let data of data">
  <div class="tab-pane active">
      <div class="row">
          
      </div>
      <div class="row">
        <div class="col-md-6" >
        </div>
        <div class="col-md-6">
          
        </div>
      </div>   
  </div>
</div>