<!-- Grid Row -->
<div class="row wow animate fadeIn" data-wow-delay="0.1s">
  <!-- Grid column -->
  <div class="col-md-12" *ngIf="router.url === realtimeUrl">
    <div class="page-header d-flex row">
      <div class="col-md-6">
      Create Realtime Incident
      </div>
      <div class="col-md-6">
        <button class="float-right back-button" (click)="back()"><i class="fas fa-angle-double-left"></i> back to incidents</button>
      </div>
    </div>
    <div class="clearfix"></div>
    <hr>
    <div class="page-body">
      <div class="new-incident">
        <mdb-card>
          <form [formGroup]="realtimeIncidentForm" (ngSubmit)="onSubmitRealtime()" class="text-center">

            <div class="form-group mb-4 row">
              <div class="col-md-4">
                <!-- Name -->
                <label class="form-label">Incident Name</label>
                <input [ngClass]="{ 'is-invalid': submitted && realtimeIncidentForm.controls.incidentName.errors }" type="text" 
                  id="incidentName" formControlName="incidentName" class="grey lighten-5 form-control" placeholder="Incident name"
                  [(ngModel)] = "incident.name">

                <!-- Incident Name Validation errors -->
                <div *ngIf="submitted && realtimeIncidentForm.controls.incidentName.errors" class="invalid-feedback">
                    <div *ngIf="realtimeIncidentForm.controls.incidentName.errors.required">Incident name is required</div>
                </div> 
              </div>

              <!-- Incident Status -->
              <div class="col-md-4">
                  <label class="form-label">Incident status</label>
                  <select formControlName="incidentStatus" [ngClass]="{ 'is-invalid': submitted && realtimeIncidentForm.controls.incidentStatus.errors}"
                  class="grey lighten-5 browser-default custom-select form-control" [(ngModel)] = "incident.state">
                    <option selected value="Investigating">Investigating</option>
                    <option value="Identified">Identified</option>
                    <option value="Monitoring">Monitoring</option>
                    <option value="Resolved">Resolved</option>
                  </select>
                  <!-- Incident status validation errors -->
                  <div *ngIf="submitted && realtimeIncidentForm.controls.incidentStatus.errors" class="invalid-feedback">
                      <div *ngIf="realtimeIncidentForm.controls.incidentStatus.errors.required">Incident status is required</div>
                  </div>
              </div>

              <div class="col-md-4">
                <!-- Escalation Levels -->
                <label class="form-label">Escalation level</label>
                <select formControlName="escalationLevel" class="grey lighten-5 browser-default custom-select form-control inline-rule"
                [ngClass]="{ 'is-invalid': submitted && realtimeIncidentForm.controls.escalationLevel.errors }" [(ngModel)] = "incident.escalation_level">
                    <option selected value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>
                  <!-- Escalation level validation errors -->
                  <div *ngIf="submitted && realtimeIncidentForm.controls.escalationLevel.errors" class="invalid-feedback">
                      <div *ngIf="realtimeIncidentForm.controls.escalationLevel.errors.required">Escalation Level is required</div>
                  </div>
              </div>
            </div>

            <div class="form-group mb-4 row">
                <div class="col-md-6">
                    <label class="form-label" for="">Priority Level</label>
                    <select formControlName="priorityLevel" [ngClass]="{ 'is-invalid': submitted && realtimeIncidentForm.controls.priorityLevel.errors }" 
                    class="grey lighten-5 browser-default custom-select" [(ngModel)] = "incident.priority_level">
                      <option selected value="1">Level 1</option>
                      <option value="2">Level 2</option>
                      <option value="3">Level 3</option>
                      <option value="4">Level 4</option>
                      <option value="5">Level 5</option>
                    </select>  
                    
                    <!-- Priority level validation errors -->
                    <div *ngIf="submitted && realtimeIncidentForm.controls.priorityLevel.errors" class="invalid-feedback">
                        <div *ngIf="realtimeIncidentForm.controls.priorityLevel.errors.required">Priority Level is required</div>
                    </div>
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="">Assigned user</label>
                    <select formControlName="user" [ngClass]="{ 'is-invalid': submitted && realtimeIncidentForm.controls.user.errors }" 
                    class="grey lighten-5 browser-default custom-select" [(ngModel)] = "incident.user">
                      <option selected [value]="user.id" *ngFor="let user of users">{{user.username}}</option>
                    </select>  
                </div>
            </div>

            <!-- Message -->
            <div class="form-group mb-4">
              <label class="form-label">Message</label>
              <textarea formControlName="message" [ngClass]="{ 'is-invalid': submitted && realtimeIncidentForm.controls.message.errors}"
              class="grey lighten-5 form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="We are currently investigating this incident"
              [(ngModel)] = "incident.description">
              </textarea>
              <!-- Message errors -->
              <div *ngIf="submitted && realtimeIncidentForm.controls.message.errors" class="invalid-feedback">
                  <div *ngIf="realtimeIncidentForm.controls.message.errors.required">Incident message is required</div>
              </div>
            </div>

            <!-- Create button -->
            <div class="create-button">
                <button type="submit" mdbBtn mdbWavesEffect class="float-right" color="primary" size="md">Create</button>
            </div>
          </form>
        </mdb-card>
      </div>
    </div>
  </div>
    <!-- Grid column -->
  <div class="col-md-12" *ngIf="router.url === maintenanceUrl">
    <div class="page-header d-flex row">
      <div class="col-md-6">
          Create Scheduled Maintenance
      </div>
      <div class="col-md-6">
        <button class="float-right back-button" (click)="back()"><i class="fas fa-angle-double-left"></i> back to incidents</button>
      </div>
    </div>
    <div class="clearfix"></div>
    <hr>
    <div class="page-body">
      <div class="new-incident">
        <div class="card">
          <form [formGroup]="scheduledMaintenanceForm" (ngSubmit)="onSubmitScheduled()" class="text-center">
            <div class="form-group mb-4 row">
              <div class="col-md-6">
                <!-- Name -->
                <label class="form-label">Maintenance Name</label>
                <input type="text" id="maintenanceName" formControlName="maintenanceName" 
                  [ngClass] = "{'is-invalid': submitted && scheduledMaintenanceForm.controls.maintenanceName.errors }"
                  class="grey lighten-5 form-control" placeholder="Maintenance name" [(ngModel)] = "incident.name">

                <!-- Maintenance Field Validation Errors -->
                <div *ngIf="submitted && scheduledMaintenanceForm.controls.maintenanceName.errors" class="invalid-feedback">
                  <div *ngIf="scheduledMaintenanceForm.controls.maintenanceName.errors.required">
                      Maintenance name is required
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                  <label class="form-label" for="">Priority Level</label>
                  <select formControlName="priorityLevel" [ngClass]="{ 'is-invalid': submitted && scheduledMaintenanceForm.controls.priorityLevel.errors }" 
                  class="grey lighten-5 browser-default custom-select" [(ngModel)] = "incident.priority_level">
                    <option selected value="1">Level 1</option>
                    <option value="2">Level 2</option>
                    <option value="3">Level 3</option>
                    <option value="4">Level 4</option>
                    <option value="5">Level 5</option>
                  </select>

                  <div *ngIf="submitted && scheduledMaintenanceForm.controls.priorityLevel.errors" class="invalid-feedback">
                      <div *ngIf="scheduledMaintenanceForm.controls.priorityLevel.errors.required">
                          Priority level is required
                      </div>
                  </div>
              </div>

            </div>

            <!-- Scheduled Date -->
            <div class="row form-group mb-4">
              <!-- Scheduled Start Time -->
              <div class="col-md-6">
                <label class="form-label">Scheduled Start Time</label>
                <div class="clearfix"></div>
                <div class="row">
                  <div class="col-md-6 date-input">
                    <hm-date-picker [parentForm]="scheduledMaintenanceForm" submitted={{submitted}} date="startDate"></hm-date-picker>
                      <div *ngIf="submitted && scheduledMaintenanceForm.controls.startDate.errors">
                        <div *ngIf="scheduledMaintenanceForm.controls.startDate.errors.required" class="invalid-feedback-inline text-left">
                            Scheduled start date is required
                        </div>
                      </div>
                  </div>
                  <div class="col-md-6 time-input">
                     <hm-time-picker [parentForm]="scheduledMaintenanceForm" time="startTime"></hm-time-picker>
                     <div *ngIf="submitted && scheduledMaintenanceForm.controls.startTime.errors">
                        <div *ngIf="scheduledMaintenanceForm.controls.startTime.errors.required" class="invalid-feedback-inline text-left">
                            Scheduled start time is required
                        </div>
                      </div>
                    </div>
                </div>
              </div>

              <!-- Scheduled End Time -->
              <div class="col-md-6">
                  <label class="form-label">Scheduled End Time</label>
                  <div class="clearfix"></div>
                  <div class="row">
                    <div class="col-md-6 date-input">
                        <hm-date-picker [parentForm]="scheduledMaintenanceForm" submitted={{submitted}} date="endDate"></hm-date-picker> 
                        <div *ngIf="submitted && scheduledMaintenanceForm.controls.endDate.errors">
                          <div *ngIf="scheduledMaintenanceForm.controls.endDate.errors.required" class="invalid-feedback-inline">
                             Scheduled end date is required
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6 time-input">
                       <hm-time-picker [parentForm]="scheduledMaintenanceForm" submitted={{submitted}} time="endTime"></hm-time-picker>
                    </div>
                  </div>
                </div>
            </div>

            <div class="form-group mb-4 row">
              <div class="col-md-6">
                <!-- Maintenance Status -->
                <label class="form-label">Maintenance status</label>
                <select formControlName="maintenanceStatus" class="grey lighten-5 browser-default custom-select form-control"
                  [ngClass]="{'is-invalid': submitted && scheduledMaintenanceForm.controls.maintenanceStatus.errors}"
                  [(ngModel)] = "incident.state">
                  <option value="Scheduled">Scheduled</option>
                  <option value="InProgress">In Progress</option>
                  <option value="Completed">Completed</option>
                </select>

                <!-- Maintenance Status Validation Errors -->
                <div *ngIf="submitted && scheduledMaintenanceForm.controls.maintenanceStatus.errors" class="invalid-feedback">
                  <div *ngIf="scheduledMaintenanceForm.controls.maintenanceStatus.errors.required">
                      Maintenance status is required
                  </div>
                </div> 
              </div>

              <div class="col-md-6">
                <!-- Escalation Levels -->
                <label class="form-label">Escalation level</label>
                <select formControlName="escalationLevel" class="grey lighten-5 browser-default custom-select form-control inline-rule"
                [ngClass]="{ 'is-invalid': submitted && scheduledMaintenanceForm.controls.escalationLevel.errors }" [(ngModel)] = "incident.escalation_level">
                    <option selected value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>
                  <!-- Escalation level validation errors -->
                  <div *ngIf="submitted && scheduledMaintenanceForm.controls.escalationLevel.errors" class="invalid-feedback">
                      <div *ngIf="scheduledMaintenanceForm.controls.escalationLevel.errors.required">Escalation Level is required</div>
                  </div>
              </div>
            </div>

            <div class="form-group mb-4">
              <!-- Message -->
              <label class="form-label">Message</label>
              <textarea class="grey lighten-5 form-control rounded-2" formControlName="message" id="exampleFormControlTextarea2" rows="3" 
                [ngClass]="{'is-invalid': submitted && scheduledMaintenanceForm.controls.message.errors}" [(ngModel)] = "incident.description"
                placeholder="We are currently investigating this incident">
              </textarea>

              <!-- Maintenance Message Validation Errors -->
              <div *ngIf="submitted && scheduledMaintenanceForm.controls.message.errors" class="invalid-feedback">
                <div *ngIf="scheduledMaintenanceForm.controls.message.errors.required">
                    Message is required
                </div>
              </div> 
            </div>

            <!-- Create button -->
            <div class="create-button">
                <button type="submit" mdbBtn mdbWavesEffect class="float-right" color="primary" size="md">Schedule</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- Grid Row -->
