<mdb-card>
    <!-- Default form contact -->
    <form [formGroup]="recipientsForm" class="text-center border  p-5" (ngSubmit) = "onSubmit()">
    
    <div class="row">
    
      <div class="col"><p class="h4 mb-4">Add  Recipient </p></div>
          
    </div>
    <hr>
      <div class="row">
        <!-- Phone Number -->
        <label>Phone Number</label>
        <input type="text" id="defaultContactFormPhoneNumber" class="form-control mb-4" placeholder="Phone Number"
        [ngClass]="{ 'is-invalid': submitted && f.EnpointName.errors }" formControlName="PhoneNumber" 
          [(ngModel)]="data.phoneNumber" >
          <div *ngIf="recipientsForm.controls['PhoneNumber'].invalid && (recipientsForm.controls['PhoneNumber'].dirty || recipientsForm.controls['PhoneNumber'].touched)" class="invalid-feedback">
            <div *ngIf="recipientsForm.controls['PhoneNumber'].errors.required">
                Phone Number is required.
            </div>
            <div *ngIf="recipientsForm.controls['PhoneNumber'].errors.minlength">Phone Number must be more than 10 characters</div>
          </div>
        </div>
      <div class="row">
          <!-- User -->
          <label>User</label>
          <select class="browser-default custom-select form-control mb-4" formControlName="User">
            <option value></option>
            <option *ngFor="let user of users; let i = index" [value]="users[i].id">
                  {{users[i].username}}
            </option>
          </select>
          <div *ngIf="recipientsForm.controls['User'].invalid && (recipientsForm.controls['User'].dirty || recipientsForm.controls['User'].touched)" class="invalid-feedback">
              <div *ngIf="recipientsForm.controls['User'].errors.required">
                  Please Select a User.
              </div>
          </div>
    </div>
      <div class="row">
          <!-- State -->
        <label>State</label>
        <select class="browser-default custom-select form-control mb-4" formControlName="State" >
          <option value></option>
          <option *ngFor="let type of states; let i = index" [value]="states[i].id">
            {{states[i].name}}
          </option>
        </select>
        <div *ngIf="recipientsForm.controls['State'].invalid && (recipientsForm.controls['State'].dirty || recipientsForm.controls['State'].touched)" class="invalid-feedback">
          <div *ngIf="recipientsForm.controls['State'].errors.required">
              Please Select a State.
          </div>
        </div>
      </div>
      <!-- Send button -->
      <div class="row">
          <button mdbBtn type="button" class="btn btn-primary waves-light" color="primary" mdbWavesEffect
      [disabled]="!recipientsForm.valid">Save</button>
      </div>
    </form>
      <!-- Default form contact -->
    
    </mdb-card>
    
    