<!-- Grid Row -->
<div class="row mt-5 wow animated fadeIn" data-wow-delay="0.3s">
    <!-- Grid column -->
    <div class="col-lg-12 col-md-12 text-center">
        <mdb-card class="container">
        <div class="row">
            <div class="col-md-12 mx-auto">
            <div class="md-form">
                <input type="text" #searchText [(ngModel)]="data" (input)="searchItems(searchText.value)" class="form-control" mdbInput>
                <label for="search">Search</label>
            </div>
            </div>
        </div>
        <table mdbTable #tableEl="mdbTable" class="">
            <thead>
            <tr>
            <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}
            </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of orders; let i = index">
            <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                scope="row">{{order.order_number}}</th>
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{order.purchased_on}}</td>
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{order.bill_to_name}}</td>
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{order.ship_to_name}}</td>
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{order.status}}</td>
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                <span mdbIcon class="fas fa-ban mr-2 text-danger"></span>
                <span mdbIcon class="fas fa-edit text-success"></span>
            </td>
            </tr>
            </tbody>
            <tfoot class="grey lighten-5 w-100">
            <tr>
            <td colspan="6">
                <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="orders"></mdb-table-pagination>
            </td>
            </tr>
            </tfoot>
        </table>
        </mdb-card>
    </div>
</div>
