<div class="page-layout" *ngIf="systemStatus">
    <div class="page-header">
    </div>
    <div class="status-container">
        <div class="current-status" [ngClass]="{'display-none': systemStatus.incidents.length}">
            <div class="{{systemStatus.current_state.state}} page-status">
                {{systemStatus.current_state.description}}
            </div>
        </div>
    </div>
    <div class="current-incident" [ngClass]="{'display-none': systemStatus.incidents.length === 0}">
        <h5>Current Incident</h5>
        <div class="card" *ngFor="let incident of systemStatus.incidents let i = index;" style="margin-bottom: 3em;">
          <div class="list-group" *ngIf="incident.state__name">
            <h6 class="list-group-item" [ngClass]="{
              'under-maintenance-incident' : incident.state__name === 'Scheduled',
              'minor-incident' : incident.priority_level === 2 || incident.priority_level === 3 ,
              'degraded-incident' : incident.priority_level === 1,
              'Operational-incident' : incident.prirority_level=== 4,
              'major-incident' : incident.prirority_level=== 5
           }">
              {{incident.name}}
            </h6>
            <div class="row border border-0 list-group-item" *ngIf="incident.incident_updates.length; else noUpdates">
                <p><b>{{incident.incident_updates[0].status}}-</b>{{incident.incident_updates[0].description}}</p>
                <p>{{incident.incident_updates[0].date_created | date:'MMM d, h:mm:ss z'}}</p>
              </div>
          </div>

          <ng-template #noUpdates>
            <div class="row border border-0 list-group-item">
                <p><b>{{incident.state__name}}-</b>{{incident.description}}</p>
                <p>{{incident.date_created | date:'MMM d, h:mm:ss z'}}</p>
            </div>
          </ng-template>
        </div>
    </div>
    <div class="endpoints-status">
      <h5>Service status</h5>
      <div class="card">
        <ul class="list-group-horizontal-lg" *ngIf="endpoints">
          <li class="list-group-item" *ngFor="let endpoint of endpoints">
            <div class="endpoint-content">
              <div class="endpoint-column">
                <div class="d-flex flex-wrap w-100">
                    {{endpoint.name}}
                    <div class="description endpoint-column fa fa-question-circle mt-1 ml-1">
                        <span class="tooltip-text">{{endpoint.description}}</span>
                    </div>
                </div>
              </div>
              <div class="endpoint-column" style="text-align: right;">
                  <span *ngIf="endpoint.status === 'Operational'" class="operational">Operational</span>
                  <span *ngIf="endpoint.status === 'Degraded Performance'" class="degraded">
                    Degraded Performance
                  </span>
                  <span *ngIf="endpoint.status === 'Minor Outage'" class="minor">
                    Minor Outage
                  </span>
                  <span *ngIf="endpoint.status === 'Major Outage'" class="major">
                    Major Outage
                  </span>
                  <span *ngIf="endpoint.status === 'Under Maintenance'" class="under-maintenance">
                      Under Maintenance
                  </span>
                <!-- <hm-endpoint-status status="{{endpoint.status}}"></hm-endpoint-status> -->
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="incidents-history">
      <h5>Past Incidents</h5>
    </div>
</div>