.page-layout {
    // margin: 2em 3em;
}

.status-container, .endpoints-status, .incidents-history{
    margin: 5em 15%;
}

.list-group-horizontal-lg {
    margin-left: 0px !important;
    padding-left: 0px !important;
    margin-bottom: 0px !important;
}

li .list-group-horizontal-lg:nth-child(2){
    
}

.list-group-item {
    border-right: none !important;
    border-left: none !important;
    border-bottom: none !important;
    // border: none !important;
    border-radius: 2px !important;
    margin: 0px !important;
    // padding: 10px    
    padding: 1.5rem 1.25rem;
}

.card {
    padding: 0px 0px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding-bottom: 0px !important;
}


.endpoint-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    // border: 1px solid green;
}

.endpoint-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    align-content: center;
}

.endpoint-status {
    display: flex;
    flex: 0 0 50%;
}

.page-status {
    color: white;
    border: 1px solid rgba(0,0,0,0.1);
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
    margin-bottom: 70px;
    padding: 0.75rem 1.25rem;
    text-align: left;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.8125rem;
    border-radius: 4px;
}

.status-critical {
    background-color: #e74c3c;
}

.status-minor{
    background-color: #f1c40f;
    
}

.status-major{
    background-color: #e67e22;
}

.status-maintenance {
    background-color: #3498DB;
}

.status-operational {
    background-color: #2fc662;
}

.operational {
    color: green;
}

.degraded {
    color: yellow;
}

.minor {
    color: orange;
}

.major {
    color: red;
}

.under-maintenance {
    color: blue;
}


.description .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-weight: 300;
    opacity: .9;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }

.description:hover .tooltip-text {
    visibility: visible;
    cursor: pointer;
}