<div class="page-layout" *ngIf="systemStatus">
    <div class="page-header">
    </div>
    <div class="status-container">
        <div class="current-status" [ngClass]="{'display-none': systemStatus.incidents.length}">
            <div class="{{systemStatus.current_state.state}} page-status">
                {{systemStatus.current_state.description}}
            </div>
        </div>
    </div>
    <div class="current-incident" [ngClass]="{'display-none': systemStatus.incidents.length === 0}">
        <h3>Current Incidents</h3>
        <div class="card" *ngFor="let incident of systemStatus.incidents let i = index;" style="margin-bottom: 3em;">
          <div class="list-group" *ngIf="incident.state__name">
            <h6 class="list-group-item" [ngClass]="{
              'under-maintenance-incident' : incident.state__name === 'Scheduled',
              'minor-incident' : incident.priority_level === 2 || incident.priority_level === 3 ,
              'degraded-incident' : incident.priority_level === 1,
              'Operational-incident' : incident.prirority_level === 4,
              'major-incident' : incident.priority_level === 5
           }">
              {{incident.name}}
            </h6>
            <div class="row border border-0 list-group-item" *ngIf="incident.incident_updates.length; else noUpdates">
                <p><b>{{incident.incident_updates[0].status}}-</b>{{incident.incident_updates[0].description}}</p>
                <p>{{incident.incident_updates[0].date_created | date:'MMM d, h:mm:ss z'}}</p>
              </div>
          </div>

          <ng-template #noUpdates>
            <div class="row border border-0 list-group-item">
                <p><b>{{incident.state__name}}-</b>{{incident.description}}</p>
                <p>{{incident.date_created | date:'MMM d, h:mm:ss z'}}</p>
            </div>
          </ng-template>
        </div>
    </div>
    <div class="endpoints-status">
      <h3>Service status</h3>
      <div class="card">
        <ul class="list-group-horizontal-lg" *ngIf="endpoints">
          <li class="list-group-item" *ngFor="let endpoint of endpoints">
            <div class="endpoint-content">
              <div class="endpoint-column">
                <div class="d-flex flex-wrap w-100">
                    {{endpoint.name}}
                    <div class="description-text endpoint-column mt-1">
                      <i class="fa fa-question-circle ml-1"></i>
                        <span class="tooltip-text">{{endpoint.description}}</span>
                    </div>
                </div>
              </div>
              <div class="endpoint-column" style="text-align: right;">
                  <span *ngIf="endpoint.status === 'Operational'" class="operational">Operational</span>
                  <span *ngIf="endpoint.status === 'Degraded Performance'" class="degraded">
                    Degraded Performance
                  </span>
                  <span *ngIf="endpoint.status === 'Minor Outage'" class="minor">
                    Minor Outage
                  </span>
                  <span *ngIf="endpoint.status === 'Major Outage'" class="major">
                    Major Outage
                  </span>
                  <span *ngIf="endpoint.status === 'Under Maintenance'" class="under-maintenance">
                      Under Maintenance
                  </span>
                <!-- <hm-endpoint-status status="{{endpoint.status}}"></hm-endpoint-status> -->
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="incidents-history" >
      <h3 class="mb-4">Past Incidents</h3>
        <div *ngFor="let pastDate of pastDates" style="margin-bottom: 40px;">
          <div style="margin-bottom: 10px; border-bottom: 1px solid rgba(0, 0, 0, 0.125);"> 
              <h5>{{ pastDate.date | date:'MMM dd, yyyy' }}</h5>
          </div>
          <div class="incidents" *ngIf="pastDate.incidents.length; else noIncidents">
            <div *ngFor="let incident of pastDate.incidents" class="mb-2">
                <a class="incident-name priority-{{incident.priority_level}}" [ngClass]="{'maintenance': incident.type == 'Scheduled'}">{{incident.name}}</a>
                <div class="update mb-3">
                    <div *ngIf="incident.status == 'Completed' || incident.status == 'Resolved'">
                        <span class="incident-status">
                          <strong>{{incident.status}}</strong>
                        </span> - {{incident.description}}
                        <div class="faded-text">{{incident.date_modified | date:'MMM dd,  hh:mm a'}}</div>
                    </div>
                    <!-- {{incident.incident_updates}} -->
                    <div class="incident-update mb-2" *ngFor="let update of incident.incident_updates">
                        <div *ngIf="update.status != 'Completed' && update.status != 'Resolved'">
                            <strong>{{update.status}}</strong> - {{update.description}}
                            <div class="faded-text">{{update.date_created | date:'MMM dd,  hh:mm a'}}</div>
                        </div>
                    </div>
                </div>
            </div>
          </div>

          <ng-template #noIncidents>
            <div class="faded-text">No incidents reported</div>
          </ng-template>
        </div>
    </div>
</div>