<div class="row">
    <div class="col col-md-8">
        <h2>System Recipient</h2>
    </div>
    <div class="col-6 col-md-4 d-flex justify-content-end">
        <div class="col-md-6 px-0 top-controls" style="top:4px;">
            <input class="form-control" type="text"  [(ngModel)]="searchText" id="search" placeholder="search" mdbInput >
        </div>
        <button type="button" routerLink="/dashboard/system-recipients/system-recipient-create" mdbBtn  mdbWavesEffect>Add System Recipient</button>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-4">
      <label>EscalationLevel</label>
      <div id="select">
          <select id="select" class="browser-default custom-select" (change)="filterSystemRecipients($event.target.value)">
              <option value="all">All</option>
              <option *ngFor="let level of EscalationLevels" [value]="level.name" >
                  {{level.name}}
              </option>
          </select>
      </div>
    </div>
  </div>
  <table mdbTable id="tableSort" #tableEl="mdbTable" class="z-depth-1">
        <thead class="white-text">
            <tr>
            <th *ngFor="let head of headElements let i = index" aria-controls="tableSort" scope="col" [mdbTableSort]="elements" [sortBy]="headElements[i]">{{Elements[head] | titlecase}} <mdb-icon fas icon="sort"></mdb-icon></th>
            </tr>
        </thead>
        <tbody *ngIf="elements.length > 0; else noElements">
            <tr mdbTableCol *ngFor="let el of elements; let i = index ">
            <th scope="row" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">
                {{el.userName}}
            </th>
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.escalationLevel}}</td>
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.notificationType}}</td>
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.status}}</td>
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.dateCreated |  date:'MM/dd/yyyy   hh:mm:ss a'}}</td>
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                <a class="fas fa-edit text-success"  routerLinkActive="active" routerLink="/dashboard/system-recipients/system-recipient-update/{{el.systemRecipientId}}" ></a>
                <a class="fas fa-trash-alt mr-2 text-danger" [disabled]="elements" (click)="delete(el.systemRecipientId)"></a>
            </td>
            </tr>
        </tbody>
        <tfoot class="grey lighten-5 w-100">
                <tr mdbTableCol>
                  <td colspan="8">
                    <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
                  </td>
                </tr>
            </tfoot>
  </table>
  <ng-template #noElements>
    <td colspan="7">
      <hm-empty-data header="No Existing System Recipients" description="New system recipients will be displayed here">
        <div action-button>
        <a href="" routerLink="/dashboard/system-recipients/system-recipient-create">
          <button action-button type="button" mdbBtn size="sm" color="primary" class="text-white">Add new system recipient</button>
        </a>
        </div>
      </hm-empty-data>
    </td>
  </ng-template>            
  <router-outlet></router-outlet>