.flex-column{
    background-color: #ffffff;
}

thead{
    background-color: #007bff;
  }

button{
    background-color: #007bff;
}
p{
    margin-bottom: 0;
    color: green;
    opacity: 0.4;
}

table.table a{
    margin:0;
    margin-right: 5px;
  }
  table.table td, table.table {
    font-weight: 300;
}
.btn{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: 8px 20px 8px 20px;
    font-size: .61rem;
    transition: .2s ease-in-out;
    margin: .375rem;
    border: 0;
    border-radius: .125rem;
    cursor: pointer;
    white-space: normal;
    word-wrap: break-word;
    color: white;
}
.row{
    margin-bottom: 1.5rem !important
}

td{
    max-width: 200px;
    background-color: white;
}

.col-sm-4{
    display: flex;
}
label{
    position:relative;
    font-size:1.2em;
    font-weight:400;
    top: 8px;
}