<div class="page-layout">
    <div class="page-header d-flex row m-auto">
            <h4>Setup new system</h4>
    </div>
    <hr>
    <router-outlet></router-outlet>
    <div class="page-directions">
        <div class="row d-flex">
            <div class="col">
                <button class="back-button"><i class="fas fa-angle-double-left"></i> Back</button>
            </div>
            <div class="col">
                <a routerLink="rules" class="direction-link">
                <button class="back-button float-right">Next <i class="fas fa-angle-double-right"></i></button>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>


</div>
