<table mdbTable id="incident-list" *ngIf="incidents.length > 1; else noIncidents">
  <tbody>
    <!-- Incident Item -->
    <tr mdbTableCol class="incident-item" *ngFor="let incident of incidents">
      <td scope="row">
          <div class="incident-description">
            <div class="action-buttons float-right">
                <a id="update-{{incident.incident_id}}" routerLink="/incidents/update/{{incident.incident_id}}" 
                routerLinkActive="active" *ngIf="incident.status !== 'Completed'; else Open">Update</a>
                <ng-template #Open>
                    <a id="update-{{incident.incident_id}}" routerLink="/incidents/update/{{incident.incident_id}}" routerLinkActive="active">View</a>
                </ng-template>
            </div>
            <strong>
                <a class="incident-view-link" routerLink="/incidents/update/{{incident.incident_id}}" routerLinkActive="active">[Scheduled] {{ incident.name }}</a></strong><br>
            <div class="last-updated">
                <small>Beginning <span>({{ incident.scheduled_for }})</span>
                </small>
            </div>
          </div>
      </td>      
    </tr>
  </tbody>
</table>

<!-- Zero Scheduled Incidents For the system -->
<ng-template #noIncidents>
    <hm-empty-data header="No Scheduled Maintenances" description="You will see all scheduled maintenances here">
      <button action-button type="button" mdbBtn size="sm" color="primary">New maintenance</button>
    </hm-empty-data>
</ng-template>

<div class="pagination-container">

</div>
