<div class="m-auto" style="position:fixed; right: 0; left: 0; z-index: 2; " [ngClass] = "{'d-none': isLoaded}">
    <hm-component-loader></hm-component-loader>
</div>
<div class="page-header">
    <h3 class="page-header-title float-left">Events</h3>
    <div class="clearfix"></div>
    <hr class="page-header-divider">
</div>

<div class="d-flex flex-sm-row mt-4 justify-content-lg-between justify-content-sm-between dt-controls">
  <div class="mb-1">
      <span>Show </span>
      <input #visibleItemsInput class="view-entries" type="number" min="1" (input)="changeVisibleItems($event.target.value)" [value]="visibleItems">
      <span> entries</span>
  </div>
 
  <div class="">
    <span>Search: </span>
    <input class="search-entries" type="text" #searchText (input)="searchItems(searchText.value)" placeholder="Search">
  </div> 
</div>

<!-- Grid Row -->
<div class="row">
  <!-- Grid column -->
  <div class="col-lg-12 col-md-12 text-left">
      <mdb-card class="table-responsive table-striped">
      <table mdbTable #tableEl="mdbTable">
          <thead class="text-white">
          <tr>
          <th *ngFor="let head of headElements; let i = index" style="white-space: nowrap;" scope="col"[mdbTableSort]="events" [sortBy]="headElements[i]">{{elements[head] | titlecase}} 
          <mdb-icon fas icon="sort"></mdb-icon></th>
          </tr>
          </thead>
          <tbody *ngIf="events.length; else noData">
          <tr *ngFor="let event of events; let i = index">
          <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
              scope="row">{{event.eventtype}}</th>
          <td class="text-clip" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{event.description}}</td>
          <td class="text-clip" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{event.stack_trace}}</td>
          <td class="text-clip" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{event.method}}</td>
          <td class="text-clip" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{event.interface}}</td>
          <td class="text-clip" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{event.request}}</td>
          <td class="text-clip" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{event.response}}</td>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{event.code}}</td>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style = "white-space: nowrap;">{{event.date_created | date:'MM/dd/yyyy   hh:mm:ss a'}}</td>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
            <a (click)="showEventInfo(event.id)"><i class="fas fa-info-circle text-info"></i></a>
          </td>  
          </tr>
          </tbody>
          <tfoot class="w-100">
          <ng-template #noData>
            <td colspan="10">
              <hm-empty-data header="No Logged Events" description="New Events will be displayed here">
              </hm-empty-data>
            </td>
          </ng-template>            
          <tr>
          </tr>
          </tfoot>
          <td colspan="10">
              <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="events"></mdb-table-pagination>
          </td>
      </table>
      </mdb-card>
  </div>
</div>


<div mdbModal #eventInfo="mdbModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header text-white bg-info">
          <button type="button" class="close pull-right text-white" aria-label="Close" (click)="eventInfo.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Event Details</h4>
        </div>
        <div class="modal-body">
          <ngb-tabset *ngIf="event">
            <ngb-tab>
              <ng-template ngbTabTitle>Event Details</ng-template>
              <ng-template ngbTabContent>
                <div class="info-container row">
                  <div class="col-md-4 info-group">
                      <div class="info-label">Event Type</div>
                      <div class="info-content">
                        {{event.eventtype}}                 
                      </div>
                  </div>
                  <div class="col-md-4 info-group">
                      <div class="info-label">Code</div>
                      <div class="info-content">
                      <span *ngIf="event.code; else noCode">{{event.code}}</span></div>
                      <ng-template #noCode>N/A</ng-template>
                  </div>
                  <div class="col-md-4 info-group">
                      <div class="info-label">Created On</div>
                      <div class="info-content">{{event.date_created | date: 'MM/dd/yyyy hh:mm:ss'}}</div>
                  </div>
                  <div class="col-md-6 info-group">
                      <div class="info-label">Method</div>
                      <div class="info-content">
                        <span *ngIf="event.method; else noMethod">{{event.method}}</span>
                        <ng-template #noMethod>N/A</ng-template>
                        </div>
                  </div>
                  <div class="col-md-6 info-group">
                      <div class="info-label">Interface</div>
                      <div class="info-content">
                        <span *ngIf="event.interface; else noInterface">{{event.interface}}</span>
                        <ng-template #noInterface>N/A</ng-template>
                        </div>
                  </div>
                  <div class="col-md-6 info-group">
                      <div class="info-label">Description</div>
                      <div class="info-content">
                        <span *ngIf="event.description; else noDescription">{{event.description}}</span>
                        <ng-template #noDescription>N/A</ng-template>
                        </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>Stack trace</ng-template>
              <ng-template ngbTabContent>
                  <div class="info-container row">
                      <div class="col-md-12">
                          <div class="info-label">Stack Trace</div>
                          <div class="info-content">
                            <pre *ngIf="event.stack_trace; else noStackTrace" class="code-info">{{event.stack_trace}}</pre>
                            <ng-template #noStackTrace>N/A</ng-template>
                          </div>
                      </div>
                    </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>Request</ng-template>
              <ng-template ngbTabContent>
                  <div class="info-container row">
                      <div class="col-md-12">
                          <div class="info-label">Request</div>
                          <div class="info-content">
                            <pre *ngIf="event.request; else noRequest" class="code-info">{{event.request}}</pre>
                            <ng-template #noRequest>N/A</ng-template>
                          </div>
                      </div>
                  </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>Response</ng-template>
              <ng-template ngbTabContent>
                  <div class="info-container row">
                      <div class="col-md-12">
                          <div class="info-label">Response</div>
                          <div class="info-content">
                            <pre *ngIf="event.response; else noResponse" class="code-info">{{event.response}}</pre>
                            <ng-template #noResponse>N/A</ng-template>
                          </div>
                      </div>
                    </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
        <div class="modal-footer">
          <button mdbBtn color="danger" class="waves-light text-white" aria-label="Close" (click)="eventInfo.hide()" mdbWavesEffect>Close</button>
        </div>
      </div>
    </div>
</div>