<div class="incidents open">
<div *ngIf="dataSource?.columns.length">
  <hm-data-table [dataSource]="dataSource"></hm-data-table>
</div>
  <ng-template #hdrTpl let-column="column">{{column.name}}</ng-template>
  <ng-template #emailNotifications let-row="row" let-value="value">
        <mdb-card class="notification">
          <div class="row">
            <h6>
              <strong>Message:</strong>
            </h6>
          </div>
          <div class="row">
            {{row.message}}
          </div>
          <div class="row" >
              <div class="content">
                  <small class="recipient">
                    <span class="incident-status" color="info">
                      {{ row.status }}
                    </span>
                  </small>
                <small class="date-created">Created on: {{ row.dateCreated | date:'MMMM d, y' }} at {{ row.dateCreated | date:'h:mm:ss a' }}</small>
              </div>
          </div>
          <div class="row">
            <small class="recipient"> Recipient : </small> <span>{{row.recipient}}</span>
          </div>
        </mdb-card>
  </ng-template>
