<div class="row">
    
    <div class="col"><p class="h4 mb-4">update Recipient </p></div>
    <div class="col-md-6">
        <button class="float-right back-button" (click)="back()"><i class="fas fa-angle-double-left"></i> back </button>
      </div>
        
  </div>
  <hr>
<mdb-card>
    <!-- Default form contact -->
    <form [formGroup]="updateForm" class="text-center border  p-5" (ngSubmit) = "onSubmit()">
    <div class="row">
        <div class="col">
            <!-- Phone Number -->
            <label style="position: relative; right: 185px;">Phone Number</label>
            <input type="text" id="defaultContactFormPhoneNumber" class="form-control mb-4" placeholder="Phone Number"
            [ngClass]="{ 'is-invalid': submitted && f.EnpointName.errors }" formControlName="PhoneNumber" 
              [(ngModel)]="data.phoneNumber" >
              <div *ngIf="updateForm.controls['PhoneNumber'].invalid && (updateForm.controls['PhoneNumber'].dirty || updateForm.controls['PhoneNumber'].touched)" class="invalid-feedback">
                <div *ngIf="updateForm.controls['PhoneNumber'].errors.required">
                    Phone Number is required.
                </div>
                <div *ngIf="updateForm.controls['PhoneNumber'].errors.minlength">Phone Number must be more than 10 characters</div>
              </div>
        </div>
        <div class="col">
            <!-- State -->
            <label style="position: relative; right: 215px;">State</label>
            <select class="browser-default custom-select form-control mb-4" formControlName="State" [(ngModel)]="data.stateId">
              <option value></option>
              <option *ngFor="let type of states; let i = index" [value]="type.id">
                {{type.name}}
              </option>
            </select>
            <div *ngIf="updateForm.controls['State'].invalid && (updateForm.controls['State'].dirty || updateForm.controls['State'].touched)" class="invalid-feedback">
              <div *ngIf="updateForm.controls['State'].errors.required">
                  Please Select a State.
              </div>
            </div>
          </div>
    </div>
      <!-- Send button -->
          <button mdbBtn type="button" class="btn float-right btn-primary waves-light"  mdbWavesEffect
      [disabled]="!updateForm.valid" (click)="updateRecipient()" size="sm">Save</button>
    </form>
      <!-- Default form contact -->
    </mdb-card>
    
    