<div class="row">
    <div class="col col-6"><p class="h4 mb-4">Add an Endpoint </p></div>
    <div class="col-md-6">
        <button class="float-right back-button" (click)="back()"><i class="fas fa-angle-double-left"></i> back to Endpoints</button>
      </div>     
  </div>
  <hr>
<mdb-card>
<!-- Default form contact -->
<form [formGroup]="endpointForm" class="text-center border  p-5" (ngSubmit) = "onSubmit()">
  <div class="row">
    <div class="col">
      <!-- Name -->
      <label>Endpoint Name</label>
      <input mdbInput MdbValidate type="text" id="defaultContactFormName" class="form-control mb-4"
      [ngClass]="{ 'is-invalid': submitted && f.EnpointName.errors }"
      placeholder="Name" formControlName="EndpointName" [(ngModel)]="data.name" >
      <div *ngIf="endpointForm.controls['EndpointName'].invalid && (endpointForm.controls['EndpointName'].dirty || endpointForm.controls['EndpointName'].touched)" class="invalid-feedback">
        <div *ngIf="endpointForm.controls['EndpointName'].errors.required">
            Endpoint Name is required.
        </div>
      </div>
    </div>
    <div class="col">
      <!-- Endpoint -->
      <label>URL</label>
      <input type="text" id="defaultContactFormEndpoint" class="form-control mb-4" placeholder="URL" formControlName="URL" [(ngModel)]="data.url" >
      <div *ngIf="endpointForm.controls['URL'].invalid && (endpointForm.controls['URL'].dirty || endpointForm.controls['URL'].touched)" class="invalid-feedback">
        <div *ngIf="endpointForm.controls['URL'].errors.required">
          A URL is required.
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- Optimal response time -->
      <label>Optimal response time</label>
      <input type="text" id="defaultContactFormEndpoint" class="form-control mb-4" placeholder="Optimal response time" formControlName="OptimalResponseTime" [(ngModel)]="data.optimal_response_time" >
      <div *ngIf="endpointForm.controls['OptimalResponseTime'].invalid && (endpointForm.controls['OptimalResponseTime'].dirty || endpointForm.controls['OptimalResponseTime'].touched)" class="invalid-feedback">
        <div *ngIf="endpointForm.controls['OptimalResponseTime'].errors.required">
          Optimal response time is required.
        </div>
      </div>
    </div>
    <div class="col">
      <!-- Endpoint type -->
      <label>Endpoint type</label>
      <select class=" form-control browser-default custom-select mb-4" placeholder="Endpoint type" formControlName="EndpointType" [(ngModel)]="data.endpoint_type">
          <option *ngFor="let type of endpointTypes; let i = index" [value]="endpointTypes[i].id">
              {{endpointTypes[i].name}}
            </option>
      </select>
      <div *ngIf="endpointForm.controls['EndpointType'].invalid && (endpointForm.controls['EndpointType'].dirty || endpointForm.controls['EndpointType'].touched)" class="invalid-feedback">
        <div *ngIf="endpointForm.controls['EndpointType'].errors.required">
            EnpointType is required.
        </div>
      </div>
    </div>
    <div class="col">
      <!-- State -->
      <label>State</label>
      <select class=" form-control browser-default custom-select mb-4" placeholder="State" formControlName="State" [(ngModel)]="data.state">
          <option *ngFor="let type of states; let i = index" [value]="states[i].id">
              {{states[i].name}}
            </option>
      </select>
      <div *ngIf="endpointForm.controls['State'].invalid && (endpointForm.controls['State'].dirty || endpointForm.controls['State'].touched)" class="invalid-feedback">
        <div *ngIf="endpointForm.controls['State'].errors.required">
            State is required.
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- Message -->
      <label>Description</label>
      <div class="form-group">
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Description" formControlName="Description" [(ngModel)]="data.description" ></textarea>
      </div>
      <div *ngIf="endpointForm.controls['Description'].invalid && (endpointForm.controls['Description'].dirty || endpointForm.controls['Description'].touched)" class="invalid-feedback">
        <div *ngIf="endpointForm.controls['Description'].errors.required">
          Description is required.
        </div>
        <div *ngIf="endpointForm.controls['Description'].errors.minlength">
            Description is should be more than 10.
          </div>
      </div>
    </div>
  </div>
    <!-- Send button -->
    <button mdbBtn type="button" class="btn float-right btn-primary waves-light" 
        color="primary" mdbWavesEffect  [disabled]="!endpointForm.valid" (click)="addEndpoint()"
        size="sm">Create</button>
  
  </form>
    <!-- Default form contact -->
</mdb-card>