<!-- Grid Row -->
<div>
      <!-- Grid column -->
    <div class="col-md-12">
      <div class="page-header d-flex row">
        <div class="col-md-6">Update Escalation Rule</div>
        <div class="col-md-6"><button class="float-right back-button" (click)="back()"><i class="fas fa-angle-double-left"></i> Back</button></div>
      </div>
      <hr>
      <div class="page-body">
        <div *ngIf="!isdataReady">
          <hm-component-loader></hm-component-loader>
        </div>
        <div class="new-rule" *ngIf="isdataReady">
          <mdb-card class="card" class="row">
            <form [formGroup]="escalationRuleForm" (ngSubmit)="onSubmit()" class="text-center">
              <div class="form-group mb-4 row">

                <div class="col-md-6">
                  <!-- Name -->
                  <label class="form-label">Name</label>
                  <input formControlName="name" type="text" id="incidentName" class="grey lighten-5 form-control" placeholder="Rule name"
                  [ngClass]="{'is-invalid': submitted && escalationRuleForm.controls['name'].errors}">
                  
                  <div *ngIf="escalationRuleForm.controls['name'].invalid && (escalationRuleForm.controls['name'].touched || escalationRuleForm.controls['name'].dirty)" class="invalid-feedback">
                    <div *ngIf="escalationRuleForm.controls['name'].errors.required">Rule Name is required</div>
                  </div>   
                </div>    
                
                <div class="col-md-6">
                    <label class="form-label">Escalation Level</label>
                    <!-- Escalation Levels -->
                    <div *ngIf="escalationLevels?.length">
                      <ng-select2 style="width:100%;" formControlName="escalation_level" [ngClass]="{ 'is-invalid': submitted && escalationRuleForm.controls.escalation_level.errors}"
                      class="custom-select-dropdown" [data]="escalationLevels" > 
                      </ng-select2>
                    </div>

                    <div *ngIf="escalationRuleForm.controls['escalation_level'].invalid && (escalationRuleForm.controls['escalation_level'].touched || escalationRuleForm.controls['escalation_level'].dirty)" class="invalid-feedback">
                        <div *ngIf="escalationRuleForm.controls['escalation_level'].errors.required">Escalation level is required</div>
                    </div>   
                </div>
              </div>

              <div class="form-group mb-4 row">
                <div class="col-md-6">
                    <label class="form-label">Number of events</label>
                    <!-- Nth Event -->
                    <input formControlName="nth_event" type="number" min="1" oninput="javascript: if (this.value < 1) this.value = ''" id="nthEvent" class="grey lighten-5 form-control" placeholder="10"
                    [ngClass]="{ 'is-invalid': submitted && escalationRuleForm.controls['nth_event'].errors }">

                    <div *ngIf="escalationRuleForm.controls['nth_event'].invalid && (escalationRuleForm.controls['nth_event'].touched || escalationRuleForm.controls['nth_event'].dirty)" class="invalid-feedback">
                        <div *ngIf="escalationRuleForm.controls['nth_event'].errors.required">Number of events is required</div>
                        <div *ngIf="escalationRuleForm.controls['nth_event'].errors.minlength">Number of events must be more than zero</div>
                    </div>                     
                </div>

                <div class="col-md-6">
                    <!-- Event Type -->
                    <label class="form-label">Event Type</label>
                    <div *ngIf="eventTypes?.length">
                      <ng-select2 style="width:100%;" formControlName="event_type" [ngClass]="{ 'is-invalid': submitted && escalationRuleForm.controls.event_type.errors}"
                      class="custom-select-dropdown" [data]="eventTypes" > 
                      </ng-select2>
                    </div>

                    <div *ngIf="escalationRuleForm.controls['event_type'].invalid && (escalationRuleForm.controls['event_type'].touched || escalationRuleForm.controls['event_type'].dirty)" class="invalid-feedback">
                        <div *ngIf="escalationRuleForm.controls['event_type'].errors.required">Event Type is required</div>
                    </div>                     
                </div>
              </div>
              <!-- Rule Configuration -->
              <div class="form-group mb-4 row">
                  <div class="col-md-6">                  
                    <label class="form-label">Duration (seconds)</label>
                    <!-- Duration -->
                    <input type="number" min="1" oninput="javascript: if (this.value < 1) this.value = ''" formControlName="duration" class="grey lighten-5 form-control"
                    placeholder="3600" [ngClass]="{'is-invalid': submitted && escalationRuleForm.controls['duration'].errors}"> 

                    <div *ngIf="escalationRuleForm.controls['duration'].invalid && (escalationRuleForm.controls['duration'].touched || escalationRuleForm.controls['duration'].dirty)" class="invalid-feedback">
                        <div *ngIf="escalationRuleForm.controls['duration'].errors.required">Duration is required</div>
                        <div *ngIf="escalationRuleForm.controls['duration'].errors.minlength">Duration must be larger than zero</div>
                    </div>  
                  </div>
              </div>
              <div class="form-group mb-4">
                  <!-- Rule Description -->
                  <label class="form-label">Description</label>
                  <textarea class="grey lighten-5 form-control rounded-2" formControlName="description"
                      id="exampleFormControlTextarea2" rows="3" placeholder="Elevated error occurrence"
                      [ngClass]="{'is-invalid': submitted && escalationRuleForm.controls['description'].errors}">
                  </textarea>
  
                  <div *ngIf="escalationRuleForm.controls['description'].invalid && (escalationRuleForm.controls['description'].touched || escalationRuleForm.controls['description'].dirty)" class="invalid-feedback">
                    <div *ngIf="escalationRuleForm.controls['description'].errors.required">Rule Description is required</div>
                  </div>  
                </div>              
              <!-- Create button -->
              <div class="">
                  <button mdbBtn mdbWavesEffect [disabled]="escalationRuleForm.invalid" class="btn-sm blue-gradient lowercase-btn text-white float-right">
                    <i class="fas fa-plus"></i> Update Rule
                  </button>
              </div>
            </form>
          </mdb-card>
        </div>
      </div>
    </div>
  
    <!-- Grid column -->
    <div class="col-md-1"></div>
  </div>
  <!-- Grid Row -->