<div class="tab-content py-4">
  <form [formGroup]="profileUpdateForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">First name</label>
        <div class="col-lg-9">
            <input  formControlName="FirstName" type="text" placeholder="First Name"
            [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }" class="form-control">
            <div *ngIf="submitted && profileUpdateForm.controls['FirstName'].errors" class="invalid-feedback">
                <div *ngIf="profileUpdateForm.controls['FirstName'].errors.required">required*.</div>
                <div *ngIf="profileUpdateForm.controls['LastName'].errors.minlength">Must be more than 5 characters</div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Last name</label>
        <div class="col-lg-9">
            <input class="form-control" formControlName="LastName" type="text" placeholder="Last Name" 
            [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }">
            <div *ngIf="submitted && profileUpdateForm.controls['LastName'].errors" class="invalid-feedback">
                <div *ngIf="profileUpdateForm.controls['LastName'].errors.required">required*</div>
                <div *ngIf="profileUpdateForm.controls['LastName'].errors.minlength">Must be more than 5 characters</div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Email</label>
        <div class="col-lg-9">
            <input class="form-control" formControlName="Email" type="text" placeholder="Email" 
            [ngClass]="{ 'is-invalid': submitted && f.Email.errors }">
            <div *ngIf="submitted && profileUpdateForm.controls['Email'].errors" class="invalid-feedback">
                <div *ngIf="profileUpdateForm.controls['Email'].errors.required">required*</div>
                <div *ngIf="profileUpdateForm.controls['Email'].errors.email">Email must be a valid email address</div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Phone Number</label>
        <div class="col-lg-9">
            <input class="form-control" formControlName="PhoneNumber" type="text" placeholder="PhoneNumber" 
            [ngClass]="{ 'is-invalid': submitted && f.PhoneNumber.errors }">
            <div *ngIf="submitted && profileUpdateForm.controls['PhoneNumber'].errors" class="invalid-feedback">
                <div *ngIf="profileUpdateForm.controls['PhoneNumber'].errors.required">required*</div>
                <div *ngIf="profileUpdateForm.controls['PhoneNumber'].errors.minlength">Must be atleast 10 characters</div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Username</label>
        <div class="col-lg-9">
            <input class="form-control" formControlName="Username" type="text" placeholder="Username"
            [ngClass]="{ 'is-invalid': submitted && f.Username.errors }">
            <div *ngIf="submitted && profileUpdateForm.controls['Username'].errors" class="invalid-feedback">
                <div *ngIf="profileUpdateForm.controls['Username'].errors.required">required*</div>
                <div *ngIf="profileUpdateForm.controls['Username'].errors.minlength">Should be more than 3 characters</div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label"></label>
      <div class="col-lg-9">
          <button mdbBtn type="button" class="btn btn-blue-grey waves-light" color="primary" mdbWavesEffect
          (click)="onReset()">Cancel</button>
          <button  mdbBtn class="btn btn-primary waves-light" color="primary" mdbWavesEffect>Save</button>
      </div>
    </div>
  </form>
</div>
