<mdb-card>
<!-- Default form contact -->
<form [formGroup]="recipientForm" class="text-center border  p-5" (ngSubmit) = "onSubmit()">

<div class="row">

  <div class="col"><p class="h4 mb-4">Add System Recipient </p></div>
      
</div>
<hr>
  
  <div class="row">
      <div class="col">
        <!-- Email -->
        <label>Email</label>
        <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="Email"
        [ngClass]="{ 'is-invalid': submitted && f.EnpointName.errors }" formControlName="Email" 
          [(ngModel)]="recipient.email" >
          <div *ngIf="recipientForm.controls['Email'].invalid && (recipientForm.controls['Email'].dirty || recipientForm.controls['Email'].touched)" class="alert alert-danger">
            <div *ngIf="recipientForm.controls['Email'].errors.required">
                Email Name is required.
            </div>
            <div *ngIf="recipientForm.controls['Email'].errors.email">Email must be a valid email address</div>
          </div>
      </div>
    <div class="col">
      <!-- Phone Number -->
    <label>Phone Number</label>
    <input type="text" id="defaultContactFormPhoneNumber" class="form-control mb-4" placeholder="Phone Number"
    [ngClass]="{ 'is-invalid': submitted && f.EnpointName.errors }" formControlName="PhoneNumber" 
      [(ngModel)]="recipient.phone_number" >
      <div *ngIf="recipientForm.controls['PhoneNumber'].invalid && (recipientForm.controls['PhoneNumber'].dirty || recipientForm.controls['PhoneNumber'].touched)" class="alert alert-danger">
        <div *ngIf="recipientForm.controls['PhoneNumber'].errors.required">
            Phone Number is required.
        </div>
        <div *ngIf="recipientForm.controls['PhoneNumber'].errors.minlength">Phone Number must be more than 10 characters</div>
      </div>
    </div>
      
  </div>
  <div class="row">
    <div class="col">
      <!-- User -->
      <label>User</label>
      <select class="browser-default custom-select mb-4" formControlName="User" [(ngModel)]="recipient.user">
        <option value></option>
        <option *ngFor="let user of Users; let i = index" [value]="Users[i].id">
              {{Users[i].username}}
        </option>
      </select>
      <div *ngIf="recipientForm.controls['User'].invalid && (recipientForm.controls['User'].dirty || recipientForm.controls['User'].touched)" class="alert alert-danger">
          <div *ngIf="recipientForm.controls['User'].errors.required">
              Please Select a User.
          </div>
      </div>
    </div>
    <div class="col">
      <!-- Escalation Level -->
      <label for="EscalationLevel">Escalation Level</label>
      <select class="browser-default custom-select mb-4" formControlName="EscalationLevel" [(ngModel)]="recipient.escalation_level">
        <option value></option>
        <option *ngFor="let level of EscalationLevels; let i = index" [value]="EscalationLevels[i].id">
          {{EscalationLevels[i].name}}
        </option>
      </select>
      <div *ngIf="recipientForm.controls['EscalationLevel'].invalid && (recipientForm.controls['EscalationLevel'].dirty || recipientForm.controls['EscalationLevel'].touched)" class="alert alert-danger">
          <div *ngIf="recipientForm.controls['EscalationLevel'].errors.required">
             Please Select an EscalationLevel.
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- Notification Type -->
   <label for="NotificationType">Notification Type</label>
   <select class="browser-default custom-select mb-4" formControlName="NotificationType" [(ngModel)]="recipient.notification_type">
      <option value></option>
     <option *ngFor="let type of NotificationTypes; let i = index" [value]="NotificationTypes[i].id">
       {{NotificationTypes[i].name}}
     </option>
   </select>
   <div *ngIf="recipientForm.controls['NotificationType'].invalid && (recipientForm.controls['NotificationType'].dirty || recipientForm.controls['NotificationType'].touched)" class="alert alert-danger">
      <div *ngIf="recipientForm.controls['NotificationType'].errors.required">
          Please Select a Notification Type.
      </div>
  </div>
    </div>
    <div class="col">
      <!-- State -->
  <label>State</label>
  <select class="browser-default custom-select mb-4" formControlName="State" [(ngModel)]="recipient.status" >
      <option value></option>
      <option *ngFor="let type of States; let i = index" [value]="States[i].id">
        {{States[i].name}}
      </option>
  </select>
  <div *ngIf="recipientForm.controls['State'].invalid && (recipientForm.controls['State'].dirty || recipientForm.controls['State'].touched)" class="alert alert-danger">
      <div *ngIf="recipientForm.controls['State'].errors.required">
          Please Select a State.
      </div>
  </div>
    </div>
  </div>
  
  <!-- Send button -->
  <button mdbBtn type="button" class="btn btn-primary waves-light" color="primary" mdbWavesEffect
  [disabled]="!recipientForm.valid" (click)="addRecipient()">Save</button>

</form>
  <!-- Default form contact -->

</mdb-card>

