
<mat-horizontal-stepper  #stepper>
    <mat-step [stepControl]="updateUserForm" [editable]="isEditable">
        <ng-template matStepLabel>Fill out user details</ng-template>
        <form [formGroup]="updateUserForm" class="text-center border row" style="padding: 3rem;">
          <div class="col-md-6 mb-4">
            <div class="form-group">
                <!-- Name -->
                <label>User Name</label>
                <input type="text" id="userName" formControlName="username" class="grey lighten-5 form-control"
                placeholder="Username" [ngClass]="{'is-invalid': submitted && addUserForm.controls.username.errors}">
              
                <div *ngIf="updateUserForm.controls['username'].invalid && (updateUserForm.controls['username'].dirty || updateUserForm.controls['username'].touched)" class="invalid-feedback">
                  <div *ngIf="updateUserForm.controls['username'].errors.required">Username is required</div>
                  <div *ngIf="updateUserForm.controls['username'].errors.minlength">Username should be alteast 3 characters</div>
                </div>
            </div>
          </div>
          <div class="col-md-6 mb-4">
              <div class="form-group">
                  <!-- Name -->
                  <label>Email</label>
                  <input type="email" id="email" formControlName="email" class="grey lighten-5 form-control"
                  placeholder="Email" [ngClass]="{'is-invalid': submitted && addUserForm.controls.email.errors}" required>
                  <!-- {{(addUserForm.controls.email.touched || addUserForm.controls.email.dirty) && addUserForm.controls.email.invalid }} -->
                  <div *ngIf="updateUserForm.controls['email'].invalid && (updateUserForm.controls['email'].dirty || updateUserForm.controls['email'].touched)" class="invalid-feedback">
                    <div *ngIf="updateUserForm.controls['email'].errors.required">Email is required</div>
                    <div *ngIf="updateUserForm.controls['email'].errors.email">Email must be a valid email address</div>
                  </div>
              </div>
          </div>
          <div class="col-md-6 mb-4">
              <div class="form-group">
                  <!-- Name -->
                  <label>First Name</label>
                  <input type="text" id="firstname" formControlName="firstname" class="grey lighten-5 form-control"
                  placeholder="First name" [ngClass]="{'is-invalid': submitted && addUserForm.controls.firstname.errors}">
                
                  <div *ngIf="updateUserForm.controls['firstname'].invalid && (updateUserForm.controls['firstname'].dirty || updateUserForm.controls['firstname'].touched)" class="invalid-feedback">
                    <div *ngIf="updateUserForm.controls['firstname'].errors.required">Firstname is required</div>
                  </div>
              </div>
          </div> 
          <div class="col-md-6 mb-4">
            <div class="form-group">
                <!-- Name -->
                <label>Last Name</label>
                <input type="text" id="lastname" formControlName="lastname" class="grey lighten-5 form-control"
                placeholder="Last name" [ngClass]="{'is-invalid': submitted && addUserForm.controls.lastname.errors}">
              
                <div *ngIf="updateUserForm.controls['lastname'].invalid && (updateUserForm.controls['lastname'].dirty || updateUserForm.controls['lastname'].touched)" class="invalid-feedback">
                  <div *ngIf="updateUserForm.controls['lastname'].errors.required">Lastname is required</div>
                </div>
            </div>
          </div>
          <div class="col-md-6 mb-4">
              <div class="form-group">
                  <!-- Name -->
                  <label>Password</label>
                  <input type="password" id="password" formControlName="password" class="grey lighten-5 form-control"
                  placeholder="Password" [ngClass]="{'is-invalid': submitted && addUserForm.controls.password.errors}" 
                  [(ngModel)] = "user.password">
                
                <div *ngIf="updateUserForm.controls['password'].invalid && (updateUserForm['controls'].password.dirty || updateUserForm.controls['password'].touched)" class="invalid-feedback">
                    <div *ngIf="updateUserForm.controls['password'].errors.required">Password is required</div>
                    <div *ngIf="updateUserForm.controls['password'].errors.minlength">Password must be atleast 8 characters</div>
                  </div>
              </div>
          </div>
          <div class="col-md-6 mb-4">
              <div class="form-group">
                  <!-- Name -->
                  <label>Confirm Password</label>
                  <input type="password" id="password" formControlName="confirmPassword" class="grey lighten-5 form-control"
                  placeholder="Password" [ngClass]="{'is-invalid': submitted && addUserForm.controls.confirmPassword.errors}" 
                  [(ngModel)] = "confirmPassword" pattern="{{ updateUserForm.controls['password'].value }}">
                  <div *ngIf="updateUserForm.controls['confirmPassword'].invalid && (updateUserForm.controls['confirmPassword'].dirty || updateUserForm.controls['confirmPassword'].touched)" class="invalid-feedback">
                    <div *ngIf="updateUserForm.controls['confirmPassword'].errors.required">Password confirmation is required</div>
                    <div *ngIf="updateUserForm.controls['confirmPassword'].errors.mustMatch"> Password & Confirm Password do not match.</div>
                  </div>
              </div>
          </div>    
          <div class="col-md-12">
          <!-- Next button -->
            <button mdbBtn [disabled] = "!updateUserForm.valid" type="button" class="btn-sm  lowercase-btn text-white float-right" mdbWavesEffect
            (click)="updateUser(stepper)"> save </button>
          </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="updateRecipientsForm" [editable]="isEditable">
        <ng-template matStepLabel>Fill out recipient details</ng-template>
        <form [formGroup]="updateRecipientsForm" class="text-center border  p-5"   *ngIf="isdataReady">
          <div class="row">
              <div class="col">
                  <!-- Phone Number -->
                  <label>Phone Number</label>
                  <input type="text" id="defaultContactFormPhoneNumber" class="form-control mb-4" placeholder="+2547XX7XXXX"
                  [ngClass]="{ 'is-invalid': submitted && updateRecipientsForm.errors }" formControlName="PhoneNumber" 
                    [(ngModel)]="data.phoneNumber" >
                    <div *ngIf="updateRecipientsForm.controls['PhoneNumber'].invalid && (updateRecipientsForm.controls['PhoneNumber'].dirty || updateRecipientsForm.controls['PhoneNumber'].touched)" class="invalid-feedback">
                      <div *ngIf="updateRecipientsForm.controls['PhoneNumber'].errors.required">
                          Phone Number is required.
                      </div>
                      <div *ngIf="updateRecipientsForm.controls['PhoneNumber'].errors.pattern">Phone Number Entered must be of the correct format</div>
                    </div>
                  </div>
                <div class="col">
                    <!-- User -->
                    <label>User</label>
                    <div *ngIf="users?.length">
                      <ng-select2 style="width:100%;" class=" custom-select-dropdown" formControlName="userId" [(ngModel)]="data.userId" [data]="users">
                      </ng-select2>
                    </div>
                    <div *ngIf="updateRecipientsForm.controls['userId'].invalid && (updateRecipientsForm.controls['userId'].dirty || updateRecipientsForm.controls['userId'].touched)" class="invalid-feedback">
                        <div *ngIf="updateRecipientsForm.controls['userId'].errors.required">
                            Please Select a User.
                        </div>
                    </div>
              </div>      
          </div>
          <div class="row">
            <div class="col-6">
              <!-- State -->
            <label>State</label>
            <div *ngIf="states?.length">
              <ng-select2 style="width:100%;" class=" custom-select-dropdown" formControlName="stateId" [(ngModel)]="data.stateId" [data]="states">
              </ng-select2>
            </div>
            <div *ngIf="updateRecipientsForm.controls['stateId'].invalid && (updateRecipientsForm.controls['stateId'].dirty || updateRecipientsForm.controls['stateId'].touched)" class="invalid-feedback">
              <div *ngIf="updateRecipientsForm.controls['stateId'].errors.required">
                  Please Select a State.
              </div>
            </div>
            </div>
          </div>
            <!-- Send button -->
            <button mdbBtn type="button" class="btn-sm  lowercase-btn text-white float-right" mdbWavesEffect [disabled]="!updateRecipientsForm.valid"
            (click)="updateRecipient(stepper)">save</button>
        </form>
    </mat-step>
    <mat-step [stepControl]="updateSystemRecipientForm" [editable]="isEditable">
        <ng-template matStepLabel>Fill out escalation level details</ng-template>
        <form [formGroup]="updateSystemRecipientForm" class="text-center border  p-5" *ngIf="isdataReady">
                <div class="row">
                  <div class="col-6">
                    <!-- Recipient -->
                    <label for="recipient">Recipient</label>
                    <div *ngIf="recipients?.length">
                        <ng-select2 style="width:100%;" class=" custom-select-dropdown" formControlName="Recipient" [data]="recipients">
                        </ng-select2>
                      </div>
                    <div *ngIf="updateSystemRecipientForm.controls['Recipient'].invalid && (updateSystemRecipientForm.controls['Recipient'].dirty || updateSystemRecipientForm.controls['Recipient'].touched)" class="invalid-feedback">
                        <div *ngIf="updateSystemRecipientForm.controls['Recipient'].errors.required">
                            Please Select a Recipient.
                        </div>
                    </div>
                  </div>
                </div>
                <!--separator-->
                <div class="row">
                  <div class="col">
                  </div>
                </div>
                  <!--Escalations form options-->
                  <div class="row"  formArrayName="escalations">
                      <div class="col-12"
                      *ngFor="let escalation of escalationsArray.controls; let escalationIndex = index;"
                      [formGroupName]="escalationIndex">
                      <hr>
                      <div class="row">
                        <div class="col">
                            <label>Escalation Level</label>
                            <div *ngIf="escalationLevels?.length">
                              <ng-select2 style="width:100%;" class=" custom-select-dropdown" formControlName="EscalationLevel" [data]="escalationLevels">
                              </ng-select2>
                            </div>
                          <div *ngIf="escalation['controls']['EscalationLevel'].invalid && (escalation['controls']['EscalationLevel.dirty'] || escalation['controls']['EscalationLevel'].touched)" class="invalid-feedback">
                              <div *ngIf="escalation['controls']['EscalationLevel'].errors.required">
                                  Please Select an escalation level.
                              </div>
                          </div>
                        </div>
                        <div class="col">
                            <label> Notification Type </label>
                            <div *ngIf="notificationTypes?.length">
                              <ng-select2 style="width:100%;" class=" custom-select-dropdown" formControlName="NotificationType"  [data]="notificationTypes">
                              </ng-select2>
                            </div>
                          <div *ngIf="escalation['controls']['NotificationType'].invalid && (escalation['controls']['NotificationType'].dirty || escalation['controls']['NotificationType'].touched)" class="invalid-feedback">
                              <div *ngIf="escalation['controls']['NotificationType'].errors.required">
                                  Please Select a notification type.
                              </div>
                          </div>
                          <div class="action-icons">
                            <a [ngClass]="{disabled : escalationsArray.length >= escalationLevels.length}"  id="remove"><img src="../../../../assets/icons/add.svg" alt="" width="24" height="24" (click)="addEscalations()"></a>
                            <a [ngClass]="{'disabled': escalationIndex === 0}" id="remove"><img src="../../../../assets/icons/remove.svg" alt="" width="24" height="24" (click)="deleteEscalations(escalationIndex)"></a>
                          </div>
                        </div>
                      </div>
                      </div>
                  </div>
                <!-- Send button -->
                <button mdbBtn type="button" class="btn-sm  lowercase-btn text-white float-right" mdbWavesEffect [disabled]="!updateSystemRecipientForm.valid" (click)="updateSystemRecipient(stepper)">save</button>
        </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      Successfully created a User recipient
      <div>
        <button mdbBtn type="button" class="btn-sm  lowercase-btn text-white float-right" mdbWavesEffect mat-button (click)="stepper.reset()">Reset</button>
        <button mdbBtn type="button" class="btn-sm  lowercase-btn text-white float-right" mdbWavesEffect mat-button (click)="navigateToUsers()">Navigate To Users</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>