<div class="row">
  <div class="col col-md-8">
      <h2>User Notifications</h2>
  </div>
  <div class="col-6 col-md-4 d-flex justify-content-end">
      <div class="col-md-6 px-0 top-controls" style="top:4px;">
          <input class="form-control" type="text"  [(ngModel)]="searchText" id="search" placeholder="search" mdbInput >
      </div>
  </div>
</div>
<table mdbTable id="tableSort" #tableEl="mdbTable" class="z-depth-1" >
    <thead class="white-text">
      <tr>
        <th *ngFor="let head of headElements; let i of index" aria-controls="tableSort" scope="col" [mdbTableSort]="elements" [sortBy]="headElements[i]">{{Elements[head] | titlecase}} <mdb-icon fas icon="sort"></mdb-icon></th>
      </tr>
    </thead>
    <tbody *ngIf="elements.length > 0; else noElements">
      <tr mdbTableCol *ngFor="let el of elements; let i = index ">
      <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">
          {{el.message}}
      </th>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.status}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.dateCreated | date}}</td>
      </tr>
    </tbody>
    <tfoot class="grey lighten-5 w-100" id="">
      <tr>
        <td colspan="4">
          <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
        </td>
      </tr>
    </tfoot>
  </table>

  <ng-template #noElements>
    <td colspan="7">
      <hm-empty-data header="No Existing Notifications" description="New Notifications will be displayed here">
      </hm-empty-data>
    </td>
</ng-template>
<router-outlet></router-outlet>