input[type='text'] {
    font-size: 14px;
    display: block;
    background: transparent;
    width: 70%;
    border: none;
    border-bottom: 1px solid #5264ae;
    order: 1;
    margin-bottom: 15px;
    margin-top: auto;
    margin-left:0 !important;
    margin-right: 0 !important;
  }
  input[type='text']:focus{
    outline: none !important;
  }
  
  .search{
    width:230px;
    display: flex;
    order: 1;
    justify-content: flex-end;
  }
  #searchlabel{
    order: 0;
    margin-top: 25px;
    padding-right: 10px;
    margin-bottom: 15px;
    size: 1.2 em;
  }
  
  .pagination{
    width:auto;
    display: flex;
    order: 0;
  }
  #table-header{
    display: flex;
    justify-content: space-between;
  }
  
  .content{
    margin-bottom: 15px;
    margin-top: auto;
  }
  ::ng-deep.datatable-header-cell {
        font-size: 0.8em !important;
    }
  ::ng-deep.datatable-body-cell {
    word-wrap:break-word !important;
    width: 400px !important;
  }
  
  :host ::ng-deep .ngx-datatable .datatable-body .datatable-scroll {
    display: inherit;
  }
  
  ::ng-deep .ngx-datatable{
    margin-bottom: 20px;
  }
  
  .notification {
    padding: 30px;
  }
  .incident-status {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(11, 11, 80) !important;
    background-color: rgb(184, 228, 228);
    padding: 3px;
    width: 50px;
  }
  .content{
    display: inline-grid;
  }
  .recipient{
    font-weight: 300;
    font-size: 1em;
  }
  .date-created{
    font-size: 14px;
    opacity: 0.5;
    text-transform: uppercase;
  }
  .row{
    margin-bottom: 8px;
  }