  <!-- Sidebar -->
<div class="sidebar-fixed position-fixed">
    <a class="logo-wrapper waves-effect">
      <span style="font-size: 40px">HM</span>
      <!-- <img src="../../assets/img/mdb.png" class="img-fluid" alt=""> -->
    </a>

    <div class="list-group list-group-flush">
      <a mdbWavesEffect routerLink="dashboard" routerLinkActive="active" class="list-group-item list-group-item-action">
        <i class="fas fa-chart-pie mr-3"></i>Dashboard
      </a>
      <a mdbWavesEffect routerLink="incidents" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
        <i class="fas fa-user mr-3"></i>Incidents</a>
      <a mdbWavesEffect routerLink="endpoint" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
        <i class="fas fa-table mr-3"></i>Endpoints</a>
      <a mdbWavesEffect routerLink="users" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
        <i class="fas fa-map mr-3"></i>Users</a>
      <a mdbWavesEffect routerLink="recipients" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
        <i class="fas fa-money-bill-alt mr-3"></i>Recipients</a>
      <a mdbWavesEffect class="list-group-item list-group-item-action waves-effect">
        <i class="fas fa-money-bill-alt mr-3"></i>Notifications</a>
      <a mdbWavesEffect routerLink="rules" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
        <i class="fas fa-money-bill-alt mr-3"></i>Rules</a>
    </div>

  </div>
  <!-- Sidebar -->
