<mat-sidenav-container>
  <mat-sidenav #appDrawer [opened]="sideBarOpen"
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" role="navigation">
    <mat-nav-list>
      <div class="profile-card">
          <a class="navbar-brand" mdbWavesEffect routerLink="/dashboard">
            <a class="logo-wrapper waves-effect">
              <img src="../assets/hm_logo.png"  alt="Hela Monitor">
            </a>
          </a>
      </div>
      <hm-menu-list-item routerLinkActive="active"  *ngFor="let item of navItems" [item]="item"></hm-menu-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <div>
    <main class="main-body">
      <hm-top-nav-bar *ngIf="loaded" class="fixed-topnav" fxHide.gt-xs (toggleSideBarForMe)="sideBarToggler()"></hm-top-nav-bar>
      <div class="container mt-4">
        <router-outlet></router-outlet>
      </div>
    </main>
    <hm-footer></hm-footer>
  </div>
  <div fxFlex></div>
</mat-sidenav-container>