<hm-top-nav-bar class="fixed-topnav" fxHide.gt-xs (toggleSideBarForMe)="sideBarToggler($event)"></hm-top-nav-bar>
<mat-sidenav-container>
  <mat-sidenav #appDrawer [opened]="sideBarOpen"
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" role="navigation">
    <mat-nav-list>
      <div class="profile-card">
          <a class="navbar-brand" mdbWavesEffect routerLink="/dashboard">
            <a class="logo-wrapper waves-effect">
              <img src="../assets/hm_logo.png"  alt="Hela Monitor">
            </a>
          </a>
      </div>
      <mat-divider></mat-divider>
      <hm-menu-list-item routerLinkActive="active"  *ngFor="let item of navItems" [item]="item"></hm-menu-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <div class="">
      <main data-wow-duration='2s' style="margin-bottom: 80px; margin-top: 87.7px;">
        <div class="container mt-5">
          <router-outlet></router-outlet>
        </div>
      </main>
      <hm-footer></hm-footer>
    </div>
  <div fxFlex></div>
</mat-sidenav-container>

<!-- <div class="">
    <hm-top-nav></hm-top-nav>
    <main class="pt-5 wow fadeIn" data-wow-duration='2s' style="margin-bottom: 80px;">
      <div class="container-fluid mt-5">
          <router-outlet></router-outlet>
      </div>
    </main>
    <hm-footer></hm-footer>
  </div> -->