.active-list-item {
    color: #3F51B5 !important;
  }
  .logo-wrapper img {
    height: 120px;
      position: relative;
      top: 1px;
      padding: 14px;
      left: 0px;
  }
  
  mat-sidenav{
    width: 248px;
    overflow: hidden;
  }

  .mat-drawer-inner-container{
    overflow: hidden !important;
  }
mat-sidenav-container{
  min-width: 482px;
}