.active-list-item {
    color: #3F51B5 !important;
  }
  // .logo-wrapper img {
  //   height: 120px;
  //     position: relative;
  //     top: 1px;
  //     padding: 14px;
  //     left: 0px;
  // }
  
  mat-sidenav{
    margin-top: 51px;
    width: 248px;
    overflow: hidden;
    position: fixed;
  }
mat-sidenav-container{
  min-width: 545px;
  background-color: #fff;
}

.mat-drawer-side {
  border-right: none !important;
}
.profile-card{
  text-align: center;
  padding: 0 20px 0px 20px;
  img{
    height: 100px;
    width: 100px;
    object-fit: scale-down;
  }
}