.page-header {
    font-size: 20px;
    font-weight: 500;
}

.priority-level{
    float: right;
    font-size: 16px;
    font-weight: 500;
}

.update-history-header, .update-history-header{
    font-size: 16px;
    font-weight: 500;
    margin: 40px 0px 10px 0px;
}

.new-incident .card{
    padding: 25px;
    margin-bottom: 50px;
}

.update-history .last-update-time{
    opacity: 0.5;
    margin-bottom: 5px;
}

.update-status{
    width: 80px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(11, 11, 80) !important;
    background-color: rgb(184, 228, 228);
    padding: 3px;
    margin: 7px 0px 7px 0px;
}

.update-description {
    margin-bottom: 15px;
}

.affected-systems-title {
    text-transform: uppercase;
    margin-right: 2px;
    opacity: 0.8;
}

.affected-systems .system {
    display: inline;
}

.delete-button {
    margin-top: 10px;
}

.form-label {
    float: left;
    font-size: 13px;
    opacity: 0.7;
    font-weight: 500;
    margin-bottom: 5px !important;
}

.date-input{
    padding: 20px 0px 0px 15px;
}

.time-input {
    padding: 0px 5px;
}

.btn-light {
    background-color: #ffffff !important;
}

.date-picker-button {
    font-size: 14px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid rgb(212, 210, 210);
    right: 0;
    padding: 3px 7px 3px 7px;
}

.invalid-feedback {
    text-align: left;
}

.invalid-feedback-inline {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
    margin-left: 0px !important;
    padding-left: 0px !important;
}

mdb-card{
    padding: 20px;
}