<div class="m-auto" style="position:fixed; right: 0; left: 0; z-index: 2; " [ngClass] = "{'d-none': isLoaded}">
    <hm-component-loader></hm-component-loader>
</div>
<div class="page-header mb-4 d-flex">
    <h3 class="page-header-title">Escalation Rules</h3>
    <div class="float-right ml-auto">
        <div class="d-flex">
            <div class="col-md-6 px-0 top-controls">
                <input class="form-control" type="text" #searchText [(ngModel)]="data" (input)="searchItems(searchText.value)" placeholder="Search">
            </div>
            <div class="col-md-6 top-controls">
            <a routerLink="/system/rules/new" routerLinkActive="active">
                <button class="" id="create-button">Add rule</button>
            </a>
            </div>
        </div>
    
    </div>
    <div class="float-right">

    </div>
    <div class="clearfix"></div> 
</div>

<!-- Grid Row -->
<div class="row mt-5 wow animated fadeIn" data-wow-delay="0.1s">
  <!-- Grid column -->
  <div class="col-lg-12 col-md-12 text-left">
      <mdb-card>
      <table mdbTable #tableEl="mdbTable" class="table-responsive ">
          <thead class="text-white">
          <tr>
          <th *ngFor="let head of headElements; let i = index" style="white-space: nowrap;" scope="col"[mdbTableSort]="rules" [sortBy]="headElements[i]">{{elements[head] | titlecase}} 
          <mdb-icon fas icon="sort"></mdb-icon></th>
          </tr>
          </thead>
          <tbody *ngIf="rules.length; else noData">
          <tr *ngFor="let rule of rules; let i = index">
          <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
              scope="row">{{rule.name}}</th>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{rule.eventtype}}</td>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{rule.description}}</td>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{rule.nth_event}}</td>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{rule.duration_str}}</td>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{rule.escalation}}</td>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="white-space: nowrap">{{rule.date_created | date:'MMMM d, yyyy' }} </td>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
              <span mdbIcon class="fas fa-trash-alt mr-2 text-danger" (click)="removeRule(rule.id)"></span>
              <span mdbIcon class="fas fa-edit text-success" routerLink="/system/rules/edit/{{rule.id}}" routerLinkActive="active"></span>
          </td>
          </tr>
          </tbody>
          <tfoot class="w-100">
          <ng-template #noData>
            <td colspan="8">
              <hm-empty-data header="No Existing Escalation Rules" description="New Escalation rules will be displayed here">
                <a action-button routerLink="/system/rules/new">
                    <button type="button" mdbBtn size="sm" color="primary" class="text-white">Add new Rule</button>
                </a>
              </hm-empty-data>
            </td>
          </ng-template>            
          <tr>
          <td colspan="8">
              <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="rules"></mdb-table-pagination>
          </td>
          </tr>
          </tfoot>
      </table>
      </mdb-card>
  </div>
</div>


<!-- <mdb-card>
<table mdbTable id="rules-list">
  <tbody>
    <tr mdbTableCol class="rule-item">
      <td scope="row">
          <div class="rule-description">
            <div class="remove-button float-right">
                <a id="update-p2jg8qhdzs4k" (click)="basicModal.show()" mdbWavesEffect>Remove</a>
            </div>
            <div class="update-button float-right">
                <a id="update-p2jg8qhdzs4k" routerLink="/rules/update" routerLinkActive="active">Update</a>
            </div>
            <strong>
                <a class="rule-view-link"routerLink="/rules/update" routerLinkActive="active">
                Elevated Error Occurrence
                </a></strong><br>
            <div class="rule-body">
                Escalate to <span class="escalationLevel">High</span> escalation level If <span class="nEvents">5 </span> <span class="eventType">Errors</span> occur within
                <span class="duration">1 hour</span>
            </div>
          </div>
      </td>      
    </tr>

    <tr mdbTableCol class="rule-item">
      <td scope="row">
          <div class="rule-description">
            <div class="remove-button float-right">
                <a id="update-p2jg8qhdzs4k" (click)="basicModal.show()" mdbWavesEffect>Remove</a>
            </div>
            <div class="update-button float-right">
                <a id="update-p2jg8qhdzs4k" routerLink="/rules/update" routerLinkActive="active">Update</a>
            </div>
            <strong>
                <a class="rule-view-link"routerLink="/rules/update" routerLinkActive="active">
                Elevated Error Occurrence
                </a></strong><br>
            <div class="rule-body">
                Escalate to <span class="escalationLevel">High</span> escalation level If <span class="nEvents">5 </span> <span class="eventType">Errors</span> occur within
                <span class="duration">1 hour</span>
            </div>
          </div>
      </td>      
    </tr>
    
  </tbody>
</table>
<div class="pagination-container">

</div>
</mdb-card> -->

<!-- Delete Confirmation Modal -->
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Confirm Remove Escalation Rule</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to remove this escalation rule?
      </div>
      <div class="modal-footer">
        <span class="update-button">
            <a color="primary" aria-label="Close" (click)="basicModal.hide()">Close</a>
        </span>
        <span class="remove-button">
        <a class="relative">Confirm</a>
        </span>
      </div>
    </div>
  </div>
</div>