  <table mdbTable #tableEl="mdbTable" class="z-depth-1">
    <thead class="white-text">
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody *ngIf="elements.length > 1; else noElements" >
      <tr mdbTableCol *ngFor="let el of elements; let i = index ">
      <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">
          {{el.email}}
      </th>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.date_created}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
        
        <a class="btn btn-primary  " routerLink="/recipients/recipient-update/{{el.id}}" routerLinkActive="active">Update</a>
        <a class="btn btn-danger " (click)="delete(el)">Delete</a>
      </td>
      </tr>
    </tbody>
    <tfoot class="grey lighten-5 w-100">
      <tr>
        <td colspan="4">
          <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
  <ng-template #noElements>
    <hm-empty-data header="No Existing System Endpoints" description="New Endpoints  displayed here">
      <button action-button type="button" mdbBtn size="sm" color="primary">Add Endpoint</button>
    </hm-empty-data>
  </ng-template>
  <router-outlet></router-outlet>