<div class="page-header d-flex flex-row justify-content-between">
        <h3 class="page-header-title">Recipients</h3>
        <div class="add-rule-btn">
          <a routerLink="/dashboard/recipients/recipient-create" routerLinkActive="active">
            <button mdbBtn class="btn-sm blue-gradient lowercase-btn text-white">
                <i class="fas fa-plus"></i> Add Recipient
            </button>
          </a>
        </div>
    </div>
    <hr class="page-header-divider">
    
    <div class="d-flex flex-sm-row mt-4 justify-content-lg-between justify-content-sm-between dt-controls">
      <div class="mb-1">
          <span>Show </span>
          <input #visibleItemsInput class="view-entries"
          type="number" min="1" (input)="changeVisibleItems($event.target.value)" [(ngModel)]="visibleItems">
          <span> entries</span>
      </div>
     
      <div class="">
        <span>Search: </span>
        <input class="search-entries" type="text" [(ngModel)]="searchText" placeholder="Search">
      </div> 
    </div>
      
    <div class="row wow animated fadeIn" data-wow-delay="0.1s">
        <!-- Grid column -->
        <div class="col-lg-12 col-md-12 text-left">
          <mdb-card class="table-responsive table-striped">
            <table mdbTable id="tableSort" #tableEl="mdbTable">
              <thead class="white-text">
                <tr>
                  <th *ngFor="let head of headElements let i = index" aria-controls="tableSort" scope="col"
                    [mdbTableSort]="elements" [sortBy]="headElements[i]">{{Elements[head] | titlecase}} <mdb-icon fas icon="sort">
                    </mdb-icon>
                  </th>
                </tr>
              </thead>
              <tbody *ngIf="elements?.length; else noElements">
                <tr mdbTableCol *ngFor="let el of elements; let i = index ">
                  <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.userName}}</td>
                  <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.phoneNumber}}
                  </td>
                  <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.status}}</td>
                  <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                    {{el.dateCreated |  date:'MM/dd/yyyy   hh:mm:ss a'}}</td>
                  <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                    <a class="fas fa-edit text-success" routerLinkActive="active"
                      routerLink="/dashboard/recipients/recipient-update/{{el.recipientId}}"></a>
                    <a class="fas fa-trash-alt mr-2 text-danger" [disabled]="elements" (click)="delete(el.recipientId)"></a>
                  </td>
                </tr>
              </tbody>
    
              <tfoot class="w-100">
                <ng-template #noData>
                  <td colspan="7">
                    <hm-empty-data header="No Existing Users" description="New Users will be displayed here">
                      <div action-button>
                      <a href="" routerLink="/dashboard/users/new">
                        <button action-button type="button" mdbBtn size="sm" color="primary" class="text-white">Add new User</button>
                      </a>
                      </div>
                    </hm-empty-data>
                  </td>
                </ng-template>            
                <tr>
                <td colspan="7">
                    <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
                </td>
                </tr>
                </tfoot>
            </table>        
          </mdb-card>
        </div>
    </div>
    
    <ng-template #noElements>
      <td colspan="7">
        <hm-empty-data header="No Existing Recipients" description="New Recipients will be displayed here">
          <div action-button>
          <a href="" routerLink="/dashboard/recipients/recipient-create">
            <button action-button type="button" mdbBtn size="sm" color="primary" class="text-white">Add new Recipient</button>
          </a>
          </div>
        </hm-empty-data>
      </td>
    </ng-template>            
    <router-outlet></router-outlet>