<div class="page-header d-flex flex-row justify-content-between">
  <h3 class="page-header-title">Recipients</h3>
  <div class="add-rule-btn">
    <a routerLink="/dashboard/recipients/recipient-create" routerLinkActive="active">
      <button mdbBtn class="btn-sm blue-gradient lowercase-btn text-white">
          <i class="fas fa-plus"></i> Add Recipient
      </button>
    </a>
  </div>
</div>
<hr class="page-header-divider">
<div *ngIf="dataSource?.columns.length">
  <hm-data-table [dataSource]="dataSource"></hm-data-table>
</div>
<ng-template #dateColumn let-row="row" let-value="value" let-i="index">
  {{value | date:'MM/dd/yyyy  hh:mm:ss a'}}
</ng-template>
<ng-template #buttonsTemplate let-row="row" let-value="value">
    <a ngbTooltip="Update recipient" placement="bottom" class="fas fa-edit text-success mr-2" routerLinkActive="active"
      routerLink="/dashboard/recipients/recipient-update/{{row.recipientId}}"></a>
    <a ngbTooltip="Delete recipient" placement="bottom" class="fas fa-trash-alt text-danger" (click)="delete(row.recipientId)"></a>
</ng-template>
