<div class="status-container">
    <div class="row">
        <div class="current-status col" style="height: 250px;">
            <mdb-card style="min-height: 100%">
                <div class="tab-content p-4">
                    <h6>Current system status</h6>
                    <hr style="margin-top: 2px">
                    <div class="{{systemStatus.current_state.state}} page-status">
                        {{systemStatus.current_state.description}}
                    </div>
                </div>
            </mdb-card>      
        </div>
        <div class="col" style="height: 250px;">
            <mdb-card style="min-height: 100%">
                <div class="tab-content p-4">
                    <h6>Recent Notifications</h6>
                    <hr style="margin-top: 2px">
                    <table class="table table-hover">
                        <tbody *ngIf="message.length > 0; else noElements">                                    
                            <tr *ngFor="let data of message; let i = index ">
                                <td>
                                    <span class="float-right font-weight-bold">{{data.date_created | date:'M/d/yy, h:mm a'}}</span> {{data.message}}
                                </td>
                            </tr>
                        </tbody> 
                        <ng-template #noElements>
                            <hm-empty-data header="You don't have any notifications" description="Your most recent notifications will be displayed here">
                            </hm-empty-data>
                        </ng-template>
                    </table>
                </div>
            </mdb-card>
        </div>
    </div>
</div>   
<div class="mt-5" *ngIf="errorRateGraph.chartDatasets[0].data.length">
<h4>Error Rates</h4> 
<hr>
<hm-line-graph [chartData]="errorRateGraph"></hm-line-graph>
</div>

<div class="mt-5" *ngIf="responseTimeGraph.chartDatasets[0].data.length">
<h4>Endpoint response times</h4> 
<hr>
    <hm-line-graph [chartData]="responseTimeGraph"></hm-line-graph>
</div>