<div class="mb-1 d-flex justify-content-between align-items-center">
    <div class="text-left">
        <h4>Dashboard</h4>
    </div>
    <div>
    <ngb-tabset type="pills" justify="end" class="mb-1 date-tabs" #tabs (tabChange)="onTabChange($event)" [activeId]="activeTab">
    <ngb-tab id="today">
        <ng-template ngbTabTitle>Today</ng-template>
    </ngb-tab>
    <ngb-tab id="week">
        <ng-template ngbTabTitle>Week</ng-template>
    </ngb-tab>
    <ngb-tab id="month">
        <ng-template ngbTabTitle>Month</ng-template>
    </ngb-tab>
    <ngb-tab id="year">
        <ng-template ngbTabTitle>Year</ng-template>
    </ngb-tab>           
    </ngb-tabset>
    </div>
</div>
<hr class="page-header-divider">


<div class="dashboard-widgets row mb-3" *ngIf="widgetData">
    <div class="col-md-3">
        <mdb-card>
        <div class="card-body reported-events-border">
            <h2 class="text-dark mb-1 font-weight-bold">{{widgetData.reported_events}}</h2>
            <h4 class="card-title mb-1">Reported Events</h4>
            <hr>
            <div class="text-muted">{{activeTab | dateTransform }}</div>
        </div>
        </mdb-card>
    </div>
    <div class="col-md-3">
        <mdb-card>
        <div class="card-body open-incidents-border">
            <h2 class="text-dark mb-1 font-weight-bold">{{widgetData.open_incidents}}</h2>
            <h4 class="card-title mb-1">Open Incidents</h4>
            <hr>
            <div class="text-muted">{{activeTab | dateTransform }}</div>
        </div>
        </mdb-card>
    </div>

    <div class="col-md-3">
        <mdb-card>
        <div class="card-body maintenances-border">
            <h2 class="text-dark mb-1 font-weight-bold">{{widgetData.scheduled_incidents}}</h2>
            <h4 class="card-title mb-1">Maintenances</h4>
            <hr>
            <div class="text-muted">{{activeTab | dateTransform }}</div>
        </div>
        </mdb-card>
    </div>  
    
    <div class="col-md-3">
        <mdb-card>
        <div class="card-body closed-incidents-border">
            <h2 class="text-dark mb-1 font-weight-bold">{{widgetData.closed_incidents}}</h2>
            <h4 class="card-title mb-1">Closed Incidents</h4>
            <hr>
            <div class="text-muted">{{activeTab | dateTransform }}</div>
        </div>
        </mdb-card>
    </div>    
</div>

<div class="status-container">
    <div class="row">
        <div class="current-status col" *ngIf="systemStatus" style="height: 250px;">
            <mdb-card style="min-height: 100%">
                <div class="tab-content p-4">
                    <h6>Current system status</h6>
                    <hr style="margin-top: 2px">
                    <div class="{{systemStatus.current_state.state}} page-status">
                        {{systemStatus.current_state.description}}
                    </div>
                </div>
            </mdb-card>      
        </div>
        <div class="col" style="height: 250px;" *ngIf="message">
            <mdb-card style="min-height: 100%">
                <div class="tab-content p-4">
                    <h6>Recent Notifications</h6>
                    <hr style="margin-top: 2px">
                    <table class="table table-hover">
                        <tbody *ngIf="message?.length; else noElements">                                    
                            <tr *ngFor="let data of message; let i = index " >
                                <td>
                                    <span class="float-right font-weight-bold">{{data.date_created | date:'M/d/yy, h:mm a'}}</span> {{data.message}}
                                </td>
                            </tr>
                        </tbody>
                        <ng-template #noElements>
                            <hm-empty-data header="You don't have any notifications" description="Your most recent notifications will be displayed here">
                            </hm-empty-data>
                        </ng-template>
                    </table>
                </div>
            </mdb-card>
        </div>
    </div>
</div>   
<div class="mt-5" *ngIf="errorRateGraph.chartDatasets[0]?.data?.length">
<h4>Error Rates</h4> 
<hr>
<hm-line-graph [chartData]="errorRateGraph"></hm-line-graph>
</div>

<div class="mt-5" *ngIf="responseTimeGraph.chartDatasets[0]?.data?.length">
<h4>Endpoint response times</h4> 
<hr>
    <hm-line-graph [chartData]="responseTimeGraph"></hm-line-graph>
</div>