  <table mdbTable #tableEl="mdbTable" class="z-depth-1">
    <thead class="white-text">
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody *ngIf="elements.length > 0; else noElements" >
      <tr mdbTableCol *ngFor="let el of elements; let i = index ">
      <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">
          {{el.email}}
      </th>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.date_created}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
        <span *ngFor="let el of el.system_recipients; let i = index ">
          {{el.escalation_level__name}}
        </span>
      </td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.user__username}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.state__name}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
        
        <a mdbIcon class="fas fa-edit text-success" routerLink="/recipients/recipient-update/{{el.id}}" routerLinkActive="active"></a>
        <a mdbIcon class="fas fa-trash-alt mr-2 text-danger" (click)="delete(el)"></a>
      </td>
      </tr>
    </tbody>
    <tfoot class="grey lighten-5 w-100">
      <tr>
        <td colspan="10">
          <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
        </td>
      </tr>
  </tfoot>
  </table>
  <ng-template #noElements>
    <td colspan="7">
      <hm-empty-data header="No Existing Email Recipients" description="New Recipients will be displayed here">
        <div action-button>
        <a href="" routerLink="/recipients/recipient-create">
          <button action-button type="button" mdbBtn size="sm" color="primary" class="text-white">Add Recipient</button>
        </a>
        </div>
      </hm-empty-data>
    </td>
</ng-template>            
<router-outlet></router-outlet>