<div class="row">
    
    <div class="col"><p class="h4 mb-4">update Recipient </p></div>
    <div class="col-md-6">
        <button class="float-right back-button" (click)="back()"><i class="fas fa-angle-double-left"></i> back </button>
      </div>
        
  </div>
<hr>
<mdb-card>
<!-- Default form contact -->
  <form [formGroup]="updateForm" class="text-center border  p-5" (ngSubmit) = "onSubmit()">

    <div class="row">
        
      <div class="col"><p class="h4 mb-4">Update System Recipient </p></div>       
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <!-- Notification Type -->
        <label for="NotificationType">Notification Type</label>
        <select class="browser-default custom-select form-control mb-4" formControlName="NotificationType" [(ngModel)]="recipient.notificationTypeId">
          <option *ngFor="let type of NotificationTypes" [value]="type.id">
            {{type.name}}
          </option>
        </select>
        <div *ngIf="updateForm.controls['NotificationType'].invalid && (updateForm.controls['NotificationType'].dirty || updateForm.controls['NotificationType'].touched)" class="invalid-feedback">
          <div *ngIf="updateForm.controls['NotificationType'].errors.required">
              Please Select a Notification Type.
          </div>
        </div>
      </div>
      <div class="col">
          <!-- State -->
          <label>State</label>
          <select class="browser-default custom-select form-control mb-4" formControlName="State" [(ngModel)]="recipient.stateId" >
              <option *ngFor="let state of States" [value]="state.id">
                  {{state.name}}
                </option>
          </select>
          <div *ngIf="updateForm.controls['State'].invalid && (updateForm.controls['State'].dirty || updateForm.controls['State'].touched)" class="invalid-feedback">
            <div *ngIf="updateForm.controls['State'].errors.required">
                Please Select a State.
            </div>
          </div>
      </div>
    </div>
    <!-- Send button -->
    <button mdbBtn type="button" class="btn float-right btn-primary waves-light"  mdbWavesEffect
    [disabled]="!updateForm.valid" (click)="update()" size="sm">Update</button>
  </form>
          <!-- Default form contact -->
</mdb-card>    
        