<span *ngIf="status === 'Operational'" class="operational">
    <i class="fas fa-check-circle pr-1 "></i>Operational
</span>
<span *ngIf="status === 'Degraded Performance'" class="degraded">
    <i class="fas fa-minus-circle pr-1"></i>Degraded Performance
</span>

<span *ngIf="status === 'Minor Outage'" class="minor">
    <i class="fas fa-exclamation-circle pr-1"></i>Minor Outage
</span>

<span *ngIf="status === 'Major Outage'" class="major">
    <i class="fas fa-times-circle pr-1"></i>Major Outage
</span>

<span *ngIf="status === 'Under Maintenance'" class="under-maintenance">
    <i class="fas fa-play-circle pr-1"></i>Under Maintenance
</span>