.content{
    margin-bottom: 15px;
    margin-top: auto;
}
::ng-deep.datatable-header-cell {
        font-size: 0.8em !important;
    }
::ng-deep.datatable-body-cell {
    word-wrap:break-word !important;
    width: 400px !important;
}

:host ::ng-deep .ngx-datatable .datatable-body .datatable-scroll {
    display: inherit;
  }

  ::ng-deep .ngx-datatable{
    margin-bottom: 20px;
  }
