input[type='text'] {
    font-size: 14px;
    display: block;
    background: transparent;
    width: 70%;
    border: none;
    border-bottom: 1px solid #5264ae;
    order: 1;
    margin-bottom: 15px;
    margin-top: auto;
    margin-left:0 !important;
    margin-right: 0 !important;
}
input[type='text']:focus{
    outline: none !important;
}

.search{
    width:230px;
    display: flex;
    order: 1;
    justify-content: flex-end;
}
#searchlabel{
    order: 0;
    margin-top: 25px;
    padding-right: 10px;
    margin-bottom: 15px;
    size: 1.2 em;
}

.pagination{
    width:auto;
    display: flex;
    order: 0;
}
#table-header{
    display: flex;
    justify-content: space-between;
}
p{
    padding: 5px;
}
.content{
    margin-bottom: 15px;
    margin-top: auto;
}
::ng-deep.datatable-header-cell {
        font-size: 0.8em !important;
    }
::ng-deep.datatable-body-cell {
    word-wrap:break-word !important;
    width: 400px !important;
}

:host ::ng-deep .ngx-datatable .datatable-body .datatable-scroll {
    display: inherit;
  }

  ::ng-deep .ngx-datatable{
    margin-bottom: 20px;
  }

.custom-select {
height: calc(1.1em + .75em + 1px) !important;
padding: .1rem 1.375rem .1rem .1rem !important;
}