<div>
  <div id="table-header">
      <div class="pagination">
        <p class="content">show</p>
        <select class="browser-default custom-select content" (change)= "changePagination($event)">
            <option *ngFor="let value of pagination" [ngValue]="value">{{value}}</option>
        </select>
        <p class="content">items</p>
      </div>
      <div class="search">
          <label id="searchlabel">search :</label>
          <input
            type="text"
            placeholder="search..."
            #input
          />
      </div>
  </div>
  <ngx-datatable
    class="material striped"
    #myTable
    [rows]="rows"
    [columns]="columns"
    [columnMode]="ColumnMode.force"
    [headerHeight]="50"
    [footerHeight]="50"
    rowHeight="auto"
    [externalPaging]="true"
    [externalSorting]="true"
    [count]="page.totalElements"
    [offset]="page.offset"
    [limit]="page.size"
    (page)="pageCallback($event)"
    (sort)="sortCallback($event)"
    [loadingIndicator]="load"
  >
  </ngx-datatable>
</div>
