<div>
  <label>Search: </label>
  <input
    type="text"
    style="padding:8px;margin:15px auto;width:30%;"
    placeholder="Type to filter the name column..."
    (keyup)="updateFilter($event)"
  />
  <ngx-datatable
    class="bootstrap thead-dark"
    #table
    [rows]="rows"
    [columns]="columns"
    [columnMode]="ColumnMode.force"
    [headerHeight]="50"
    [footerHeight]="50"
    rowHeight="auto"
    [externalPaging]="true"
    [count]="page.totalElements"
    [offset]="page.pageNumber"
    [limit]="page.size"
    (page)="setPage($event)"
    (sort)="onSort($event)"
  >
  </ngx-datatable>
</div>
