<div class="page-header mb-4">
    <h3 class="page-header-title float-left">Users</h3>
    <div class="float-right"> 
        <div class="row">
            <div class="col-md-8 px-0">
                <input class="form-control" type="text" placeholder="Search">
            </div>
            <div class="col-md-4 pl-3">
            <a routerLink="/users/new" routerLinkActive="active">
                <button class="" id="create-button">Add user</button>
            </a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div> 
</div>


<!-- Grid Row -->
<div class="row mt-5 wow animated fadeIn" data-wow-delay="0.1s">
    <!-- Grid column -->
    <div class="col-lg-12 col-md-12 text-center">
        <mdb-card class="container">
        <table mdbTable #tableEl="mdbTable" class="">
            <thead class="text-white">
            <tr>
            <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}
            </th>
            </tr>
            </thead>
            <tbody *ngIf="users.length; else noData">
            <tr *ngFor="let user of users; let i = index">
            <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                scope="row">{{user.order_number}}</th>
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{user.purchased_on}}</td>
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{user.bill_to_name}}</td>
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{user.ship_to_name}}</td>
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{user.status}}</td>
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{user.status}}</td>
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                <span mdbIcon class="fas fa-trash-alt mr-2 text-danger" (click)="basicModal.show()"></span>
                <span mdbIcon class="fas fa-edit text-success"></span>
            </td>
            </tr>
            </tbody>
            <tfoot class="w-100">
            <ng-template #noData>
              <td colspan="7">
                <hm-empty-data header="No Existing Users" description="New Users will be displayed here">
                  <div action-button>
                  <a href="" routerLink="/system/{{currentSystemId}}/users/new">
                    <button action-button type="button" mdbBtn size="sm" color="primary" class="text-white">Add new User</button>
                  </a>
                  </div>
                </hm-empty-data>
              </td>
            </ng-template>            
            <tr>
            <td colspan="7">
                <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="users"></mdb-table-pagination>
            </td>
            </tr>
            </tfoot>
        </table>
        </mdb-card>
    </div>
  </div>

<!-- <mdb-card>
    <mdb-card-body>
        <table mdbTable>
                <thead class="text-center">
                    <tr>
                    <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr mdbTableCol *ngFor="let el of elements">
                    <th scope="row">{{el.username}}</th>
                    <td>{{el.date_created}}</td>
                    <td>{{el.email}}</td>
                    <td>
                        <div class="remove-button">
                            <a id="update-p2jg8qhdzs4k" (click)="basicModal.show()" >Remove</a>
                        </div>
                        <div class="update-button">
                            <a id="update-p2jg8qhdzs4k" routerLink="/users/update" routerLinkActive="active">Update</a>
                        </div>
                    </td>
                    </tr>
                </tbody>
        </table>
    </mdb-card-body>     
</mdb-card> -->

<!-- Delete User Confirmation Modal -->
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Confirm Remove User</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to remove this user?
      </div>
      <div class="modal-footer">
        <span class="update-button">
            <a color="primary" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</a>
        </span>
        <span class="remove-button">
        <a class="relative waves-light" mdbWavesEffect>Confirm</a>
        </span>
      </div>
    </div>
  </div>
</div>