<div class="full-page">
<table mdbTable id="incident-list" *ngIf="(incidents$ | async).length > 0; else noIncidents">
  <tbody>
    <!-- Incident Item -->
    <tr mdbTableCol class="incident-item" *ngFor="let incident of incidents$ | async">
      <td scope="row">
          <div class="incident-description">
            <div class="action-buttons float-right">
                <a id="update-{{incident.incident_id}}" routerLink="/incidents/update/{{incident.incident_id}}" 
                routerLinkActive="active" *ngIf="incident.status !== 'Completed'; else Open">Update</a>
                <ng-template #Open>
                    <a id="update-{{incident.incident_id}}" routerLink="/system/incidents/update/{{incident.incident_id}}" routerLinkActive="active">View</a>
                </ng-template>
            </div>
            <strong>
                <a class="incident-view-link" routerLink="/system/incidents/update/{{incident.incident_id}}" routerLinkActive="active">
                  <span *ngIf="incident.incident_updates.length; else noUpdates">
                      <span *ngFor="let update of incident.incident_updates; let i=index">
                        <span *ngIf="update.status && i<1" class="incident-status" color="info">[{{ update.status }}] {{ incident.name }}</span>
                      </span> 
                  </span>               
                  <ng-template #noUpdates>
                    <span class="incident-status" color="info">
                        [{{ incident.status }}] {{ incident.name }}
                    </span>
                  </ng-template>
                </a>
            </strong><br>
            <div class="last-updated">
                <small>Beginning <span>({{ incident.scheduled_for | date: 'MMM d, y, h:mm:ss a'}})</span>
                </small>
            </div>
          </div>
      </td>      
    </tr>
  </tbody>
</table>

<!-- Zero Scheduled Incidents For the system -->
<ng-template #noIncidents>
    <hm-empty-data header="No Scheduled Maintenances" description="You will see all scheduled maintenances here">
      <a action-button routerLink='/system/incidents/new/maintenance' routerlinkactive="active"> 
        <button id="create-button" size="sm" color="primary">
          New maintenance 
        </button>
      </a>
    </hm-empty-data>
</ng-template>

<div class="pagination-container">

</div>
</div>
