.mat-toolbar.mat-primary{
    color: black;
    background-color: #fff;
}
#system-button{
    position: relative;
    left: 900px;
}
#notifications{
    position: relative;
    left: 980px;
}
#user-profile{
    position: relative;
    left: 1030px;
}

.mat-menu-panel{
    position: relative !important;
    left: 140px !important;
}

button:focus{
    outline: none !important;
}
.mat-toolbar-row, .mat-toolbar-single-row {
    height: 57px;
}

@media (max-width: 411px){
    #system-button{
        position: relative;
        left: 30px;
    } 
    #notifications{
        position: relative;
        left: 70px;
    }
    #user-profile{
        position: relative;
        left: 80px;
    }
}

@media (max-width: 320px){
    #system-button{
        position: relative;
        left: 10px;
    } 
    #notifications{
        position: relative;
        left: 40px;
    }
    #user-profile{
        position: relative;
        left: 50px;
    }
}

@media (max-width: 400px){
    #system-button{
        position: relative;
        left: 30px;
    } 
    #notifications{
        position: relative;
        left: 70px;
    }
    #user-profile{
        position: relative;
        left: 80px;
    }
}
@media (max-width: 414px){
    #system-button{
        position: relative;
        left: 30px;
    } 
    #notifications{
        position: relative;
        left: 70px;
    }
    #user-profile{
        position: relative;
        left: 80px;
    }
}

@media (width: 768px){
    #system-button{
        position: relative;
        left: 357px;
    } 
    #notifications{
        position: relative;
        left: 426px;
    }
    #user-profile{
        position: relative;
        left: 456px;
    }
}

@media (width: 1024px){
    #system-button{
        position: relative;
        left: 527px;
    } 
    #notifications{
        position: relative;
        left: 626px;
    }
    #user-profile{
        position: relative;
        left: 711px;
    }
}