<div class="col-md-6 px-0 top-controls">
    <input class="form-control" type="text"  [(ngModel)]="searchText" id="search" placeholder="search" mdbInput>
  </div>
<div class="row">
  <div class="col">
    <table mdbTable #tableEl="mdbTable" class="z-depth-1" >
      <thead class="white-text">
        <tr>
          <th *ngFor="let head of headElements let i = index" aria-controls="tableSort" scope="col" [mdbTableSort]="elements" [sortBy]="headElements[i]" scope="col">{{head | titlecase}} <mdb-icon fas icon="sort"></mdb-icon></th>
        </tr>
      </thead>
      <tbody *ngIf="elements.length > 0; else noElements" >
        <tr mdbTableCol *ngFor="let el of elements; let i = index ">
        <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">
            {{el.userName}}
        </th>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
          <span *ngFor="let el of el.system_recipients; let i = index ">
            {{el.escalationLevels}}
          </span>
        </td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.status}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
          <a mdbIcon class="fas fa-edit text-success" routerLink="" routerLinkActive="active"></a>
          <a class="fas fa-trash-alt mr-2 text-danger"></a>
        </td>
        </tr>
      </tbody>
      <tfoot class="grey lighten-5 w-100">
        <tr>
          <td colspan="10">
            <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
          </td>
        </tr>
      </tfoot>
    </table>
    <ng-template #noElements>
      <td colspan="7">
        <hm-empty-data header="No Existing Sms recipients" description="New Recipients will be displayed here">
          <div action-button>
          <a href="" routerLink="/system/{{currentSystemId}}/recipients/recipient-create">
            <button action-button type="button" mdbBtn size="sm" color="primary" class="text-white">Add Recipient</button>
          </a>
          </div>
        </hm-empty-data>
      </td>
  </ng-template>            
    <router-outlet></router-outlet>
  </div>
</div>
