.mat-toolbar.mat-primary{
    color: black;
    background-color: #fff;
}
#system-button{
    width: auto;
    position: relative;
    right: 115px;
    margin-right: 0px;
}
// #notifications{
//     position: relative;
//     left: 980px;
// }
// #user-profile{
//     position: relative;
//     left: 1030px;
// }

.mat-menu-panel{
    // position: relative !important;
    left: 140px !important;
}

button:focus{
    outline: none !important;
}
.mat-toolbar-row, .mat-toolbar-single-row {
    height: 57px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

@media (max-width: 415px){
    #system-button{
        position: relative;
        right: 103px;
    }
}

.custom-navigation{
    display: flex;
    justify-content: space-between;
}
.mr-4{
    margin: 49px;
}

#mr-3{
    margin-left: 3px !important;
}
mat-toolbar{
    min-width: 482px;
  }
