<!-- Grid Row -->
<div class="row wow animate fadeIn" data-wow-delay="0.3s">
    <!-- Grid column -->
    <div class="col-md-1"></div>

    <!-- Grid column -->
    <div class="col-md-10">
        <div class="page-header">
            Data Processing Delays - Reporting Tools Affected
        </div>
        <hr>
        <div class="page-body">
            <div class="update-history">
                <div class="update-history-header">Update History</div>
                <mdb-card class="mb-4">
                    <div class="last-update-time"><strong>
                           <small>1 HOUR AGO (9: 46 UTC)</small>
                    </strong></div>
                    <div class="update-status">IN PROGRESS</div>
                    <div class="update-description">
                        Scheduled maintenance is currently in progress. We will provide updates as necessary.
                    </div>
                    <div class="affected-systems">
                        <span class="affected-systems-title"><small>Affected System : </small></span> 
                        <div class="system">
                            Mobile APIs <mdb-icon fas icon="check-circle" class="green-text pr-3"></mdb-icon>
                        </div>
                    </div>
                </mdb-card>

                <mdb-card class="mb-4">
                    <div class="last-update-time"><strong>
                           <small>1 HOUR AGO (9: 46 UTC)</small>
                    </strong></div>
                    <div class="update-status">IN PROGRESS</div>
                    <div class="update-description">
                        Scheduled maintenance is currently in progress. We will provide updates as necessary.
                    </div>
                    <div class="affected-systems">
                        <span class="affected-systems-title"><small>Affected System : </small></span> 
                        <div class="system">
                            Mobile APIs <mdb-icon fas icon="check-circle" class="green-text pr-3"></mdb-icon>
                        </div>
                    </div>
                </mdb-card>
            </div>
            <div class="new-update">
                <div class="update-history-header">
                    Add new update
                </div>
                <mdb-card class="grey lighten-5 update-form">
                    <select class="browser-default custom-select">
                        <option selected value="1">Investigating</option>
                        <option value="2">Identified</option>
                        <option value="3">Monitoring</option>
                        <option value="4">Resolved</option>
                    </select>
                    <div class="md-form">
                        <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
                        <label for="form7">Update Message</label>
                    </div>

                    <div class="update-button">
                        <button mdbBtn mdbWavesEffect class="float-right" color="primary" size="md">update</button>
                    </div>
                </mdb-card>
            </div>
            <hr>
            <div class="delete-button">
                <button mdbBtn mdbWavesEffect class="float-right" color="danger" size="md">Delete Incident</button>
            </div>
        </div>
    </div>

    <!-- Grid column -->
    <div class="col-md-1"></div>
</div>
<!-- Grid Row -->