<!-- Grid Row -->
<div class="row wow animate fadeIn" data-wow-delay="0.1s">
    <!-- Grid column -->
    <div class="col-md-1"></div>

    <!-- Grid column -->
    <div class="col-md-10">
        <div class="page-header">
            {{ incident.name }}
            <div class="priority-level">
                <form [formGroup]="updateIncidentForm" (ngSubmit)="onSubmit()" class="text-center">
                    <label for="">Priority Level</label>
                    <select formControlName="priorityLevel" (ngModel)="initialPriorityLevel" [ngClass]="{ 'is-invalid': submitted && updateIncidentForm.controls.priorityLevel.errors }" class="browser-default custom-select">
                    <option selected value="1">Level 1</option>
                    <option value="2">Level 2</option>
                    <option value="3">Level 3</option>
                    <option value="4">Level 4</option>
                    <option value="5">Level 5</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr>
        <div class="page-body">
            <div class="update-history">
                <div class="update-history-header">Update History</div>
                <div *ngIf="incident.incident_updates.length >= 1">
                    <mdb-card class="mb-4" *ngFor="let incident_update of incident.incident_updates">
                        <div class="last-update-time">
                            <strong>
                            <small>{{ incident_update.date_created | date: 'MMMM d, y' }}</small>
                            </strong>
                        </div>
                        <div>
                        <div class="update-status">{{ incident_update.status }}</div>
                        </div>
                        <div class="update-description">
                            {{ incident_update.description }}
                        </div>
                        <div class="affected-systems">
                            <span class="affected-systems-title"><small>Affected System : </small></span> 
                            <div class="system">
                                {{ incident.affected_system }}<mdb-icon fas icon="check-circle" class="green-text pr-3"></mdb-icon>
                            </div> 
                        </div>
                    </mdb-card>
                </div>
                <mdb-card class="mb-4">
                        <div class="last-update-time"><strong>
                               <small>{{ incident.date_modified  | date: 'MMMM d, y' }}</small>
                        </strong></div>
                        <div>
                        <div class="update-status">{{ incident.status }}</div>
                        </div>
                        <div class="update-description">
                            {{ incident.description }}
                        </div>
                        <div class="affected-systems">
                            <span class="affected-systems-title"><small>Affected System : </small></span> 
                            <div class="system">
                                {{ incident.affected_system }} <mdb-icon fas icon="check-circle" class="green-text pr-3"></mdb-icon>
                            </div>
                        </div>
                    </mdb-card>
            </div>
            <div class="new-update" *ngIf="incident.status !== 'Resolved' && incident.status !== 'Completed'">
                <div class="update-history-header">
                    Add new update
                </div>
                <mdb-card class="grey lighten-5 update-form">
                    <form [formGroup]="updateIncidentForm" (ngSubmit)="onSubmit()">
                        <div class="form-group mb-4">
                            <label class="form-label">Incident status</label>
                            <select formControlName="incidentStatus" class="browser-default custom-select" 
                            [ngClass]="{'is-invalid': submitted && updateIncidentForm.controls.incidentStatus.errors}">
                                <option selected value="Investigating">Investigating</option>
                                <option value="Identified">Identified</option>
                                <option value="Monitoring">Monitoring</option>
                                <option value="Resolved">Resolved</option>
                            </select>
                        </div>
                        <div class="form-group mb-4">
                            <label class="form-label">Message</label>
                            <textarea class="grey lighten-5 form-control rounded-2" formControlName="message"
                                id="exampleFormControlTextarea2" rows="3" placeholder="We are currently investigating this incident"
                                [ngClass]="{'is-invalid': submitted && updateIncidentForm.controls.message.errors}">
                            </textarea>

                            <div *ngIf="submitted && updateIncidentForm.controls.message.errors" class="invalid-feedback">
                                <div *ngIf="updateIncidentForm.controls.message.errors.required">Message is required</div>
                            </div>
                        </div>

                        <div class="update-button">
                            <button mdbBtn mdbWavesEffect class="float-right" color="primary" size="md">update</button>
                        </div>
                    </form>
                </mdb-card>
            </div>
            <hr>
            <div class="delete-button">
                <button mdbBtn mdbWavesEffect class="float-right" color="danger" size="md">Delete Incident</button>
            </div>
        </div>
    </div>

    <!-- Grid column -->
    <div class="col-md-1"></div>
</div>
<!-- Grid Row -->