<div class="page-header">
    <h3 class="page-header-title float-left">Recipients</h3>
    <div class="float-right"> 
        <input class="form-control" type="text" placeholder="Search">
    </div>
    <div class="clearfix"></div> 
</div>

<ul class="list-group switch-tabs">
    <div>
    <li class="tab-item">
        <a routerLink="email-recipient" routerLinkActive="active">Email</a>
    </li>
    <li class="tab-item">
        <a routerLink="sms-recipient" routerLinkActive="active">Sms</a>        
    </li>

    <li class="tab-item" >
        <span >
        <a routerLink="recipient-create" *ngIf="router.url != '/email-recipient'">
           <button type=button  class="float-right btn" id="create-button" mdbBtn color="primary" mdbWavesEffect>Add Recipient</button>
        </a>
        </span>
    </li>
    <div class="clearfix"></div>
    </div>
</ul>
<router-outlet></router-outlet>
