.card{
    padding: 25px;
}
#rules-list {
    margin-top: 0px;
}

table th, .table td {
    padding-left: 0px;
}

#rules-list tr:nth-child(1){
    margin-top: 0px;
}

#rules-list tr:nth-child(1) td{
    border-top: none;
    margin-top: 0px;
    padding-top: 0px;
}

.rule-view-link {
    font-size: 16px;
    font-weight: 500;
    opacity: 0.9;
}

.rule-body {
    font-size: 14px;
    font-weight: 500;
    opacity: 0.6;
}

.update-button a{
    font-size: 16px;
    font-weight: 500;
    opacity: 0.9;
    color: blue;
}

.remove-button a{
    font-size: 16px;
    font-weight: 500;
    opacity: 0.9;
    color: rgb(255, 0, 0);
    margin-left: 10px;
}

#create-button{
    font-size: 14px;
    background-color: #0052CC !important;
    border: 1px solid #0052CC;
    border-radius: 4px;
    color: #ffffff;
    padding: 6px 7px 6px 7px;
    font-weight: 500;
}