<mdb-card class="open-incident mb-4">
    <mdb-card-body>
    <a href="#" class="update-incident-button float-right">
        <button mdbBtn mdbWavesEffect color="info" size="sm">Update</button>
    </a>
    <h5 class="open-incident-title">Data Processing Delays - Reporting Tools Affected</h5>
    <div class="incident-info">
        <span class="incident-status" color="info">Investigating</span>
      <span class="last-update-time"><small>about 1 hour ago (06:37 UTC)</small></span>
    </div>
      <div class="affected-systems">
          <span class="affected-systems-title"><small>Affected System : </small></span> 
            <div class="system">
                Mobile APIs <mdb-icon fas icon="check-circle" class="green-text pr-3"></mdb-icon>
            </div>
      </div>
    </mdb-card-body>
</mdb-card>

<mdb-card class="open-incident mb-4">
    <mdb-card-body>
    <a href="#" class="update-incident-button float-right" >
        <button mdbBtn mdbWavesEffect color="info" size="sm">Update</button>
    </a>
    <h5 class="open-incident-title">Data Processing Delays - Reporting Tools Affected</h5>
    <div class="incident-info">
        <span class="incident-status" color="info">Investigating</span>
      <span class="last-update-time"><small>about 1 hour ago (06:37 UTC)</small></span>
    </div>
      <div class="affected-systems">
          <span class="affected-systems-title"><small>Affected System : </small></span> 
            <div class="system">
              Mobile APIs <mdb-icon fas icon="check-circle" class="green-text pr-3"></mdb-icon>
            </div>
      </div>
    </mdb-card-body>
</mdb-card>