<div class="full-page">
<div *ngIf="(incidents$ | async).length; else noIncidents">
      <a *ngFor="let incident of incidents$ | async" routerLink="/incidents/update/{{incident.incident_id}}" routerLinkActive="active">
        <mdb-card class="open-incident mb-4">
            <mdb-card-body>
            <a routerLink="/incidents/update/{{incident.incident_id}}" routerLinkActive="active" class="update-incident-button float-right">
                <button mdbBtn mdbWavesEffect color="info" size="sm">Update</button>
            </a>
            <h5 class="open-incident-title">{{ incident.name }}</h5>
            <div class="incident-info">
                <span class="incident-status" color="info">{{ incident.status }}</span>
              <span class="last-update-time"><small>about 1 hour ago (06:37 UTC)</small></span>
            </div>
              <div class="affected-systems">
                  <span class="affected-systems-title"><small>Affected System : </small></span> 
                    <div class="system">
                      {{ incident.affected_system }} 
                      <mdb-icon fas icon="check-circle" class="green-text pr-3"></mdb-icon>
                    </div>
              </div>
            </mdb-card-body>
        </mdb-card>
      </a>
</div>

<ng-template #noIncidents>
  <hm-empty-data header="No open incidents" description="New incidents and scheduled maintenances will be displayed here">
      <a action-button routerLink='/incidents/new/realtime' routerlinkactive="active"> 
        <button id="create-button" size="sm" color="primary">
            Create new incident
        </button>
      </a>
  </hm-empty-data>
</ng-template>
</div>

